{
    "presets": [],
    "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": false,
                "useESModules": false,
                "absoluteRuntime": false,
                "helpers": true,
                "regenerator": true,
                "version": "7.0.0-beta.0"
            }
        ],
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "legacy": true
            }
        ]
    ]
}
