{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jquery": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "semi": [2, "never"]
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "hljs": "readonly",
        "loadlive2d": "readonly",
        "EmojiButton": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    }
}
