{
    "plugins": ["prettier"],
    "extends": ["eslint:recommended", "prettier"],
    "rules": {
        "no-unused-vars": "warn",
        "prettier/prettier": "error"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jquery": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "hljs": "readonly",
        "loadlive2d": "readonly",
        "EmojiButton": true,
        "APlayer": true,
        "roughViz": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    }
}
