<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>awescnb test1 - 已注销用户456123 - 博客园</title>
	<link id="favicon" rel="shortcut icon" href="" type="image/x-icon">
	<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css" /> -->
	<link rel="stylesheet"
		href="https://www.cnblogs.com/css/blog-common.min.css?v=BKtyzabbeYJEVOaELkxmRjHbp7LT-v37GzrU5S24bJk">
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script> -->
	<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
</head>

<body>
	<a name="top"></a>
	<div id="home">
		<!-- header  -->
		<div id="header">
			<div id="blogTitle">
				<a id="lnkBlogLogo" href="https://www.cnblogs.com/guangzanassistant/"><img id="blogLogo" src=""></a>
				<h1>
					<a id="Header1_HeaderTitle" class="headermaintitle HeaderMainTitle"
						href="https://www.cnblogs.com/guangzanassistant/">已注销</a>
				</h1>
				<h2></h2>
			</div>
			<div id="navigator">
				<ul id="navList">
					<li>
						<a id="blog_nav_sitehome" class="menu" href="https://www.cnblogs.com/">博客园</a>
					</li>
					<li>
						<a id="blog_nav_myhome" class="menu" href="https://www.cnblogs.com/guangzanassistant/">首页</a>
					</li>
					<li>
						<a id="blog_nav_newpost" class="menu" href="https://i.cnblogs.com/EditPosts.aspx?opt=1">新随笔</a>
					</li>
					<li>
						<a id="blog_nav_contact" class="menu" href="https://msg.cnblogs.com/send/awescnb-test">联系</a>
					</li>
					<li>
						<a id="blog_nav_rss" class="menu" href="https://www.cnblogs.com/guangzanassistant/rss/">订阅</a>
					</li>
					<li>
						<a id="blog_nav_admin" class="menu" href="https://i.cnblogs.com/">管理</a>
					</li>
				</ul>
				<div class="blogStats">
					<span id="stats_post_count">随笔 - 3&nbsp; </span>
					<span id="stats_article_count">文章 - 0&nbsp; </span>
					<span id="stats-comment_count">评论 - 0</span>
				</div>
			</div>
		</div>
		<!-- main -->
		<div id="main">
			<!-- maincontent -->
			<div id="mainContent">
				<div class="forFlow">
					<!-- 文章内容 -->
					<div id="post_detail">
						<!--done-->
						<div id="topics">
							<div class="post">
								<h1 class="postTitle">

									<a id="cb_post_title_url" class="postTitle2"
										href="https://www.cnblogs.com/guangzanassistant/p/12549775.html">markdonwn
										测试1</a>

								</h1>
								<div class="clear"></div>
								<div class="postBody">
									<div id="cnblogs_post_body" class="blogpost-body cnblogs-markdown">
										<!-- 添加测试内容 start -->
										<kbd>ctrl + shif + p</kbd>
										<p></p>
										<!-- <iframe
											src="//player.bilibili.com/player.html?aid=753256365&amp;bvid=BV1ik4y167BY&amp;cid=197075912&amp;page=1"
											scrolling="no" border="0" frameborder="no" framespacing="0"
											allowfullscreen="true"> </iframe> -->
										<!-- 添加测试内容 end -->

										<h2 id="标题测试">标题测试</h2>
										<pre><code class="hljs shell"><span class="hljs-meta">#</span><span class="bash"><span class="hljs-comment"># 二级标题</span></span>
<span class="hljs-meta">#</span><span class="bash"><span class="hljs-comment">## 三级标题</span></span>
</code></pre>
										<h2 id="二级标题">二级标题</h2>
										<h3 id="三级标题">三级标题</h3>
										<h2 id="二级标题"><a>带链接的标题</a></h2>
										<h2 id="段落格式">段落格式</h2>
										<h2 id="换行">换行</h2>
										<p>末尾两个空格</p>
										<pre><code class="hljs">第一行第一行第一行第一行第一行第一行第一行第一行
第二行第二行第二行第二行第二行第二行第二行第二行
</code></pre>
										<p>第一行第一行第一行第一行第一行第一行第一行第一行<br>
											第二行第二行第二行第二行第二行第二行第二行第二行</p>
										<h2 id="字体">字体</h2>
										<pre><code class="hljs markdown"><span class="hljs-emphasis">_斜体文本_</span>
<span class="hljs-emphasis">_斜体文本_</span>
<span class="hljs-strong">**粗体文本**</span>
<span class="hljs-strong">**粗体文本**</span>
<span class="hljs-strong">**_粗斜体文本_*</span>*
<span class="hljs-strong">**_粗斜体文本_*</span>*
</code></pre>
										<p><em>斜体文本</em><br>
											<em>斜体文本</em><br>
											<strong>粗体文本</strong><br>
											<strong>粗体文本</strong><br>
											<strong><em>粗斜体文本</em></strong><br>
											<strong><em>粗斜体文本</em></strong></p>
										<h2 id="分隔线">分隔线</h2>
										<pre><code class="hljs yaml"><span class="hljs-meta">---</span>
</code></pre>
										<hr>
										<h2 id="删除线">删除线</h2>
										<pre><code class="hljs css">~~<span class="hljs-selector-tag">BAIDU</span><span class="hljs-selector-class">.COM</span>~~
</code></pre>
										<p><s>BAIDU.COM</s></p>
										<h2 id="下划线">下划线</h2>
										<pre><code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">u</span>&gt;</span>带下划线文本<span class="hljs-tag">&lt;/<span class="hljs-name">u</span>&gt;</span>
</code></pre>
										<p><u>带下划线文本</u></p>
										<h2 id="脚注">脚注</h2>
										<pre><code class="hljs markdown">创建脚注格式类似这样 [^runoob]。
[<span class="hljs-symbol">^runoob</span>]: <span class="hljs-link">菜鸟教程 -- 学的不仅是技术，更是梦想！！！</span>
</code></pre>
										<p>创建脚注格式类似这样 <sup class="footnote-ref"><a
													href="https://www.cnblogs.com/guangzanassistant/p/12549775.html#fn1"
													id="fnref1">[1]</a></sup>。</p>
										<h2 id="列表">列表</h2>
										<h2 id="无序列表">无序列表</h2>
										<pre><code class="hljs markdown"><span class="hljs-bullet">- </span>第一项
<span class="hljs-bullet">- </span>第二项
<span class="hljs-bullet">- </span>第三项

<span class="hljs-bullet">* </span>第一项
<span class="hljs-bullet">* </span>第二项
<span class="hljs-bullet">* </span>第三项

<span class="hljs-bullet">- </span>第一项
<span class="hljs-bullet">- </span>第二项
<span class="hljs-bullet">- </span>第三项
</code></pre>
										<ul>
											<li>第一项</li>
											<li>第二项</li>
											<li>第三项</li>
										</ul>
										<ul>
											<li>第一项</li>
											<li>第二项</li>
											<li>第三项</li>
										</ul>
										<ul>
											<li>第一项</li>
											<li>第二项</li>
											<li>第三项</li>
										</ul>
										<h2 id="列表嵌套">列表嵌套</h2>
										<pre><code class="hljs markdown"><span class="hljs-bullet">1. </span>第一项：
   - 第一项嵌套的第一个元素
   - 第一项嵌套的第二个元素
<span class="hljs-bullet">2. </span>第二项：
   - 第二项嵌套的第一个元素
   - 第二项嵌套的第二个元素
</code></pre>
										<ol>
											<li>第一项：</li>
										</ol>
										<ul>
											<li>第一项嵌套的第一个元素</li>
											<li>第一项嵌套的第二个元素</li>
										</ul>
										<ol start="2">
											<li>第二项：
												<ul>
													<li>第二项嵌套的第一个元素</li>
													<li>第二项嵌套的第二个元素</li>
												</ul>
											</li>
										</ol>
										<h2 id="区块">区块</h2>
										<pre><code class="hljs shell"><span class="hljs-meta">&gt;</span><span class="bash"> 区块引用</span>
<span class="hljs-meta">&gt;</span><span class="bash"> 菜鸟教程</span>
<span class="hljs-meta">&gt;</span><span class="bash"> 学的不仅是技术更是梦想</span>
</code></pre>
										<blockquote>
											<p>区块引用<br>
												菜鸟教程<br>
												学的不仅是技术更是梦想</p>
										</blockquote>
										<h2 id="区块嵌套">区块嵌套</h2>
										<pre><code class="hljs shell"><span class="hljs-meta">&gt;</span><span class="bash"> 最外层</span>
<span class="hljs-meta">&gt;</span><span class="bash"></span>
<span class="hljs-meta">&gt;</span><span class="bash"> &gt; 第一层嵌套</span>
<span class="hljs-meta">&gt;</span><span class="bash"> &gt;</span>
<span class="hljs-meta">&gt;</span><span class="bash"> &gt; &gt; 第二层嵌套</span>
</code></pre>
										<blockquote>
											<p>最外层</p>
											<blockquote>
												<p>第一层嵌套</p>
												<blockquote>
													<p>第二层嵌套</p>
												</blockquote>
											</blockquote>
										</blockquote>
										<h2 id="区块中使用列表">区块中使用列表</h2>
										<pre><code class="hljs shell"><span class="hljs-meta">&gt;</span><span class="bash"> 区块中使用列表</span>
<span class="hljs-meta">&gt;</span><span class="bash"></span>
<span class="hljs-meta">&gt;</span><span class="bash"> 1. 第一项</span>
<span class="hljs-meta">&gt;</span><span class="bash"> 2. 第二项</span>
<span class="hljs-meta">&gt;</span><span class="bash"></span>
<span class="hljs-meta">&gt;</span><span class="bash"> - 第一项</span>
<span class="hljs-meta">&gt;</span><span class="bash"> - 第二项</span>
<span class="hljs-meta">&gt;</span><span class="bash"> - 第三项</span>
</code></pre>
										<blockquote>
											<p>区块中使用列表</p>
											<ol>
												<li>第一项</li>
												<li>第二项</li>
											</ol>
											<ul>
												<li>第一项</li>
												<li>第二项</li>
												<li>第三项</li>
											</ul>
										</blockquote>
										<h2 id="列表中使用区块">列表中使用区块</h2>
										<pre><code class="hljs shell">- 第一项
<span class="hljs-meta">  &gt;</span><span class="bash"> 菜鸟教程</span>
<span class="hljs-meta">  &gt;</span><span class="bash"> 学的不仅是技术更是梦想</span>
- 第二项
</code></pre>
										<ul>
											<li>第一项
												<blockquote>
													<p>菜鸟教程<br>
														学的不仅是技术更是梦想</p>
												</blockquote>
											</li>
											<li>第二项</li>
										</ul>
										<h2 id="代码">代码</h2>
										<p><code>single</code></p>
										<pre><code class="language-javascript hljs">$(<span class="hljs-built_in">document</span>).ready(<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
  alert(<span class="hljs-string">'RUNOOB'</span>)
})

<span class="hljs-comment">// 超出显示滚动条 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</span>
</code></pre>
										<h2 id="链接">链接</h2>
										<pre><code class="hljs markdown">这是一个链接 [<span class="hljs-string">菜鸟教程</span>](<span class="hljs-link">https://www.runoob.com</span>)
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">https:</span>//<span class="hljs-attr">www.runoob.com</span>&gt;</span></span>
</code></pre>
										<p>这是一个链接 <a href="https://www.runoob.com/">菜鸟教程</a><br>
											<a href="https://www.runoob.com/">https://www.runoob.com</a></p>
										<h2 id="高级链接">高级链接</h2>
										<pre><code class="hljs markdown">这个链接用 1 作为网址变量 [<span class="hljs-string">Google</span>][<span class="hljs-symbol">1</span>]
这个链接用 runoob 作为网址变量 [<span class="hljs-string">Runoob</span>][<span class="hljs-symbol">runoob</span>]
然后在文档的结尾为变量赋值（网址）

[<span class="hljs-symbol">1</span>]: <span class="hljs-link">http://www.google.com/</span>
[<span class="hljs-symbol">runoob</span>]: <span class="hljs-link">http://www.runoob.com/</span>
</code></pre>
										<p>这个链接用 1 作为网址变量 <a href="http://www.google.com/">Google</a><br>
											这个链接用 runoob 作为网址变量 <a href="http://www.runoob.com/">Runoob</a><br>
											然后在文档的结尾为变量赋值（网址）</p>
										<h2 id="图片">图片</h2>
										<pre><code class="hljs markdown">![<span class="hljs-string">RUNOOB 图标</span>](<span class="hljs-link">http://static.runoob.com/images/runoob-logo.png</span>)
![<span class="hljs-string">RUNOOB 图标</span>](<span class="hljs-link">http://static.runoob.com/images/runoob-logo.png "RUNOOB"</span>)
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"http://static.runoob.com/images/runoob-logo.png"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"50%"</span>&gt;</span></span>
</code></pre>
										<p><img src="https://i.pravatar.cc/50" alt="RUNOOB 图标"><br>
											<img src="https://i.pravatar.cc/50" alt="RUNOOB 图标" title="RUNOOB"><br>
											<img src="https://i.pravatar.cc/50" width="50%"></p>
										<h2 id="使用链接">使用链接</h2>
										<pre><code class="hljs markdown">这个链接用 1 作为网址变量 [<span class="hljs-string">RUNOOB</span>][<span class="hljs-symbol">1</span>].
然后在文档的结尾为变量赋值（网址）

[<span class="hljs-symbol">1</span>]: <span class="hljs-link">http://static.runoob.com/images/runoob-logo.png</span>
</code></pre>
										<p>这个链接用 1 作为网址变量 <a href="http://www.google.com/">RUNOOB</a>.<br>
											然后在文档的结尾为变量赋值（网址）</p>
										<h2 id="表格">表格</h2>
										<pre><code class="hljs ruby"><span class="hljs-params">|  表头   |</span> 表头  <span class="hljs-params">|  表头   |</span> 表头  <span class="hljs-params">|  表头   |</span> 表头  <span class="hljs-params">|  表头   |</span> 表头  <span class="hljs-params">|  表头   |</span> 表头  <span class="hljs-params">|  表头   |</span> 表头  <span class="hljs-params">|  表头   |</span> 表头  <span class="hljs-params">|  表头   |</span> 表头  <span class="hljs-params">|
|</span>  ----  <span class="hljs-params">| ----  |</span>  ----  <span class="hljs-params">| ----  |</span>  ----  <span class="hljs-params">| ----  |</span>  ----  <span class="hljs-params">| ----  |</span>  ----  <span class="hljs-params">| ----  |</span>  ----  <span class="hljs-params">| ----  |</span>  ----  <span class="hljs-params">| ----  |</span>  ----  <span class="hljs-params">| ----  |</span>
<span class="hljs-params">| 单元格  |</span> 单元格 <span class="hljs-params">| 单元格  |</span> 单元格 <span class="hljs-params">| 单元格  |</span> 单元格 <span class="hljs-params">| 单元格  |</span> 单元格 <span class="hljs-params">| 单元格  |</span> 单元格 <span class="hljs-params">| 单元格  |</span> 单元格 <span class="hljs-params">| 单元格  |</span> 单元格 <span class="hljs-params">| 单元格  |</span> 单元格 <span class="hljs-params">|
|</span> 单元格  <span class="hljs-params">| 单元格 |</span> 单元格  <span class="hljs-params">| 单元格 |</span> 单元格  <span class="hljs-params">| 单元格 |</span> 单元格  <span class="hljs-params">| 单元格 |</span> 单元格  <span class="hljs-params">| 单元格 |</span> 单元格  <span class="hljs-params">| 单元格 |</span> 单元格  <span class="hljs-params">| 单元格 |</span> 单元格  <span class="hljs-params">| 单元格 |</span>
</code></pre>
										<table>
											<thead>
												<tr>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
													<th>表头</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
												</tr>
												<tr>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
													<td>单元格</td>
												</tr>
											</tbody>
										</table>
										<hr>
										<table>
											<thead>
												<tr>
													<th>表头</th>
													<th>表头</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>单元格</td>
													<td>单元格</td>
												</tr>
												<tr>
													<td>单元格</td>
													<td>单元格</td>
												</tr>
											</tbody>
										</table>
										<h2 id="对齐方式">对齐方式</h2>
										<pre><code class="hljs ruby"><span class="hljs-params">| 左对齐 |</span> 右对齐 <span class="hljs-params">| 居中对齐 |</span>
<span class="hljs-params">| :-----|</span> ----: <span class="hljs-params">| :----: |</span>
<span class="hljs-params">| 单元格 |</span> 单元格 <span class="hljs-params">| 单元格 |</span>
<span class="hljs-params">| 单元格 |</span> 单元格 <span class="hljs-params">| 单元格 |</span>
</code></pre>
										<table>
											<thead>
												<tr>
													<th style="text-align:left">左对齐</th>
													<th style="text-align:right">右对齐</th>
													<th style="text-align:center">居中对齐</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td style="text-align:left">单元格</td>
													<td style="text-align:right">单元格</td>
													<td style="text-align:center">单元格</td>
												</tr>
												<tr>
													<td style="text-align:left">单元格</td>
													<td style="text-align:right">单元格</td>
													<td style="text-align:center">单元格</td>
												</tr>
											</tbody>
										</table>
										<h2 id="高级技巧">高级技巧</h2>
										<h2 id="html">HTML</h2>
										<pre><code class="hljs xml">使用 <span class="hljs-tag">&lt;<span class="hljs-name">kbd</span>&gt;</span>Ctrl<span class="hljs-tag">&lt;/<span class="hljs-name">kbd</span>&gt;</span>+<span class="hljs-tag">&lt;<span class="hljs-name">kbd</span>&gt;</span>Alt<span class="hljs-tag">&lt;/<span class="hljs-name">kbd</span>&gt;</span>+<span class="hljs-tag">&lt;<span class="hljs-name">kbd</span>&gt;</span>Del<span class="hljs-tag">&lt;/<span class="hljs-name">kbd</span>&gt;</span> 重启电脑
</code></pre>
										<p>使用 <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Del</kbd> 重启电脑</p>
										<h2 id="转义">转义</h2>
										<p><strong>文本加粗</strong></p>
										<pre><code class="hljs markdown">\<span class="hljs-emphasis">*\*</span> 正常显示星号 \<span class="hljs-emphasis">*\*</span>
</code></pre>
										<p><strong>文本加粗</strong><br>
											** 正常显示星号 **</p>
										<hr class="footnotes-sep">
										<section class="footnotes">
											<ol class="footnotes-list">
												<li id="fn1" class="footnote-item">
													<p>菜鸟教程 -- 学的不仅是技术，更是梦想！！！ <a
															href="https://www.cnblogs.com/guangzanassistant/p/12549775.html#fnref1"
															class="footnote-backref">↩︎</a></p>
												</li>
											</ol>
										</section>
									</div>
									<div id="MySignature"></div>
									<div class="clear"></div>
									<div id="blog_post_info_block">
										<div id="BlogPostCategory">
											分类:
											<a href="https://www.cnblogs.com/guangzanassistant/category/1605656.html"
												target="_blank">测试1</a>
										</div>
										<div id="EntryTag">
											标签:
											<a
												href="https://www.cnblogs.com/guangzanassistant/tag/awescnb/">awescnb</a>,
											<a href="https://www.cnblogs.com/guangzanassistant/tag/test/">test</a></div>

										<div id="blog_post_info">
											<div id="green_channel">
												<a href="javascript:void(0);" id="green_channel_digg">好文要顶</a>
												<a id="green_channel_follow" href="javascript:void(0);">关注我</a>
												<a id="green_channel_favorite"
													onclick="AddToWz(cb_entryId);return false;"
													href="javascript:void(0);">收藏该文</a>
												<a id="green_channel_weibo" href="javascript:void(0);"
													title="分享至新浪微博"><img src="https://i.pravatar.cc/50" alt=""></a>
												<a id="green_channel_wechat" href="javascript:void(0);"
													title="分享至微信"><img src="https://i.pravatar.cc/50" alt=""></a>
											</div>
											<div id="author_profile">
												<div id="author_profile_info" class="author_profile_info">
													<div id="author_profile_detail" class="author_profile_info">
														<a
															href="https://home.cnblogs.com/u/guangzanassistant/">awescnb-test</a><br>
														<a
															href="https://home.cnblogs.com/u/guangzanassistant/followees/">关注
															- 2</a><br>
														<a
															href="https://home.cnblogs.com/u/guangzanassistant/followers/">粉丝
															- 0</a>
													</div>
												</div>
												<div class="clear"></div>
												<div id="author_profile_honor"></div>
												<div id="author_profile_follow">
												</div>
											</div>
											<div id="div_digg">
												<div class="diggit">
													<span class="diggnum" id="digg_count">0</span>
												</div>
												<div class="buryit">
													<span class="burynum" id="bury_count">0</span>
												</div>
												<div class="clear"></div>
												<div class="diggword" id="digg_tips">
												</div>
											</div>

											<script type="text/javascript">
												currentDiggType = 0;
											</script>
										</div>
										<div class="clear"></div>
										<div id="post_next_prev">


										</div>
									</div>
								</div>
								<div class="postDesc">posted @
									<span id="post-date">2020-04-26 23:06</span>&nbsp;
									<a href="https://www.cnblogs.com/guangzanassistant/">awescnb-test</a>&nbsp;
									阅读(<span id="post_view_count">0</span>)&nbsp;
									评论(<span id="post_comment_count">0</span>)&nbsp;
									<a href="https://www.cnblogs.com/guangzanassistant/p/12549775.md"
										target="_blank">MD</a>&nbsp;
									<a href="https://i.cnblogs.com/EditPosts.aspx?postid=12549775"
										rel="nofollow">编辑</a>&nbsp;
									<a href="javascript:void(0)" onclick="AddToWz(12549775);return false;">收藏</a></div>
							</div>


						</div>
						<!--end: topics 文章、评论容器-->
					</div>
					<a name="!comments"></a>
					<!-- 评论列表 -->
					<div id="blog-comments-placeholder">
						<div id="comment_pager_top"></div>
						<br>
						<div class="feedback_area_title">评论列表</div>
						<div class="feedbackNoItems">
							<div class="feedbackNoItems"></div>
						</div>
						<div class="feedbackItem">
							<div class="feedbackListSubtitle">
								<div class="feedbackManage">
									&nbsp;&nbsp;
									<span class="comment_actions">
										<a href="javascript:void(0);">回复</a>
										<a href="javascript:void(0);">引用</a>
									</span>
								</div>
								<a href="#4532247" class="layer">#1楼</a>
								<a name="4532247" id="comment_anchor_4532247"></a>
								<span class="comment_date">2020-03-25 17:40</span>
								<a id="a_comment_author_4532247" href="https://www.cnblogs.com/ywheunji/"
									target="_blank">you-wh</a>
								<div class="comment_vote">
									<span class="comment_error" style="color: red"></span>
									<a href="javascript:void(0);" class="comment_digg">支持(0)</a>
									<a href="javascript:void(0);" class="comment_burry">反对(0)</a>
								</div>
							</div>
							<!-- <div class="feedbackCon">
								<div class="custom-comment-avatar">
								</div>
								<div id="comment_body_4532247" data-format-type="Markdown"
									class="blog_comment_body cnblogs-markdown">
									<p>这个鼠标特效着实惊到了，哈哈哈</p>
								</div>
							</div> -->
							<div class="feedbackCon">
								<div id="comment_body_4646084" data-format-type="Markdown"
									class="blog_comment_body cnblogs-markdown">
									<p>代码块测试</p>
									<pre><div class="copy-btns">copy</div><code class="hljs javascript"><table class="hljs-ln"><tbody><tr><td class="hljs-ln-line hljs-ln-numbers" data-line-number="1"><div class="hljs-ln-n" data-line-number="1"></div></td><td class="hljs-ln-line hljs-ln-code" data-line-number="1"><span class="hljs-built_in">console</span>.log(<span class="hljs-string">'1213'</span>)</td></tr></tbody></table></code></pre>
								</div>

								<span id="comment_4646084_avatar" style="display:none">
									https://pic.cnblogs.com/face/1501373/20200614011358.png
								</span>

							</div>
						</div>
						<div class="feedbackItem custom-comments-author">
							<div class="feedbackListSubtitle">
								<div class="feedbackManage">
									&nbsp;&nbsp;
									<span class="comment_actions">
										<a href="javascript:void(0);"
											onclick="return ReplyComment(4532254, 'xTaYK2hVE0rO0OLryR6v3tJ57oNjsXUyAGNEPSn5jqoK93N3kSawlQ==')">
											回复
										</a>
										<a href="javascript:void(0);"
											onclick="return QuoteComment(4532254, 'xTaYK2hVE0rO0OLryR6v3tJ57oNjsXUyAGNEPSn5jqoK93N3kSawlQ==')">
											引用
										</a>


									</span>


								</div>

								<a href="#4532254" class="layer">#2楼</a>
								<a name="4532254" id="comment_anchor_4532254"></a>
								[<span class="louzhu">楼主</span>]

								<span class="comment_date">2020-03-25 17:43</span>



								<a id="a_comment_author_4532254" href="https://www.cnblogs.com/guangzan/"
									target="_blank">DIVMonster</a>

								<div class="comment_vote">
									<span class="comment_error" style="color: red"></span>
									<a href="javascript:void(0);" class="comment_digg"
										onclick="return voteComment(4532254, 'Digg', this.parentElement, false);">
										支持(0)
									</a>
									<a href="javascript:void(0);" class="comment_burry"
										onclick="return voteComment(4532254, 'Bury', this.parentElement, false);">
										反对(0)
									</a>
								</div>
							</div>
							<div class="feedbackCon">
								<div class="custom-comment-avatar">
									<!-- <img src="https://pic.cnblogs.com/face/1501373/20200119190802.png" class="avatar"> -->
								</div>
								<div id="comment_body_4532254" data-format-type="Markdown"
									class="blog_comment_body cnblogs-markdown">
									<p><a href="#4532247" title="查看所回复的评论"
											onclick="commentManager.renderComments(0,50,4532247);">@</a>you-wh
										谢谢支持,欢迎使用.https://guangzan.gitee.io/awescnb-docs</p>

								</div>

								<span id="comment_4532254_avatar" style="display:none">
									<!-- https://pic.cnblogs.com/face/1501373/20200119190802.png -->
								</span>

							</div>
						</div>
						<div class="feedbackItem custom-comments-author">
							<div class="feedbackListSubtitle">
								<div class="feedbackManage">
									&nbsp;&nbsp;

									<span class="comment_actions">
										<a href="javascript:void(0);"
											onclick="return ReplyComment(4539378, 'xTaYK2hVE0rO0OLryR6v3tJ57oNjsXUyAGNEPSn5jqoK93N3kSawlQ==')">
											回复
										</a>
										<a href="javascript:void(0);"
											onclick="return QuoteComment(4539378, 'xTaYK2hVE0rO0OLryR6v3tJ57oNjsXUyAGNEPSn5jqoK93N3kSawlQ==')">
											引用
										</a>


									</span>


								</div>

								<a href="#4539378" class="layer">#3楼</a>
								<a name="4539378" id="comment_anchor_4539378"></a>
								[<span class="louzhu">楼主</span>]
								<span id="comment-maxId" style="display:none">4539378</span>
								<span id="comment-maxDate" style="display:none">2020/4/2 上午12:27:16</span>

								<span class="comment_date">2020-04-02 00:27</span>



								<a id="a_comment_author_4539378" href="https://www.cnblogs.com/guangzan/"
									target="_blank">DIVMonster</a>

								<div class="comment_vote">
									<span class="comment_error" style="color: red"></span>
									<a href="javascript:void(0);" class="comment_digg"
										onclick="return voteComment(4539378, 'Digg', this.parentElement, false);">
										支持(0)
									</a>
									<a href="javascript:void(0);" class="comment_burry"
										onclick="return voteComment(4539378, 'Bury', this.parentElement, false);">
										反对(0)
									</a>
								</div>
							</div>
							<div class="feedbackCon">
								<div class="custom-comment-avatar">
									<!-- <img src=" https://pic.cnblogs.com/face/1501373/20200119190802.png" class="avatar"> -->
								</div>
								<div id="comment_body_4539378" data-format-type="Markdown"
									class="blog_comment_body cnblogs-markdown">
									<p>test emoji🤔</p>
								</div>
								<span id="comment_4539378_avatar" style="display:none">
									<!-- https://pic.cnblogs.com/face/1501373/20200119190802.png -->
								</span>

							</div>
						</div>

						<div id="comment_pager_bottom">

						</div>


					</div>
					<!-- 发表评论 -->
					<div id="comment_form" class="commentform">
						<a name="commentform"></a>
						<div id="divCommentShow"></div>
						<div id="comment_nav"><span id="span_refresh_tips"></span><a href="javascript:void(0);"
								onclick="return RefreshCommentList();" id="lnk_RefreshComments" runat="server"
								clientidmode="Static">刷新评论</a><a href="#" onclick="return RefreshPage();">刷新页面</a><a
								href="#top">返回顶部</a>
						</div>
						<div id="comment_form_container" style="visibility: visible;">
							<script type="text/javascript"
								src="https://mention.cnblogs.com//bundles/mention.js?id=20160615"></script>
							<div id="commentform_title">发表评论</div>
							<span id="tip_comment" style="color:Red"></span>
							<div class="commentbox_main comment_textarea">
								<div class="commentbox_title">
									<div class="commentbox_title_left">
										<span id="btn_edit_comment" class="commentbox_tab active" title="编辑评论">编辑</span>
										<span id="btn_preview_comment" class="commentbox_tab"
											title="Markdown 预览">预览</span>
									</div>
									<div class="commentbox_title_right">
										<span id="ubb_bold" class="comment_icon" alt="粗体" title="添加粗体(Ctrl + B)">
											<svg class="comment_svg" version="1.1" viewBox="0 0 24 24"
												xmlns="http://www.w3.org/2000/svg">
												<g fill-rule="evenodd">
													<path
														d="m13.221 19c1.4414 0 2.5793-0.27451 3.3759-0.82353 0.92931-0.66667 1.4034-1.7059 1.4034-3.1176 0-0.94118-0.22759-1.7059-0.66379-2.2549-0.45517-0.56863-1.119-0.94118-2.0103-1.1176 0.68276-0.27451 1.1948-0.64706 1.5552-1.1569 0.36034-0.54902 0.55-1.2157 0.55-2 0-1.0588-0.36034-1.902-1.0621-2.5294-0.75862-0.66667-1.8207-1-3.1672-1h-6.2017v14h6.2207zm-0.82196-8h-3.3987v-4h3.4367c0.91139 0 1.557 0.15686 1.9747 0.47059 0.37975 0.29412 0.58861 0.78431 0.58861 1.451 0 0.72549-0.20886 1.2549-0.58861 1.5882-0.39873 0.31373-1.0633 0.4902-2.0127 0.4902zm0.52612 6h-3.9249v-4h3.9855c1.052 0 1.8208 0.16216 2.3064 0.48649 0.46532 0.32432 0.70809 0.84685 0.70809 1.5856 0 0.72072-0.3237 1.2252-0.9711 1.5495-0.50578 0.25225-1.2139 0.37838-2.104 0.37838z"
														fill-rule="nonzero" stroke-width=".35"></path>
												</g>
											</svg>
										</span>
										<span id="ubb_url" class="comment_icon" title="添加链接(Ctrl + K)" alt="链接">
											<svg class="comment_svg comment_svg_stroke" viewBox="0 0 24 24"
												xmlns="http://www.w3.org/2000/svg">
												<g fill-rule="evenodd">
													<g transform="translate(4 4)" fill-rule="nonzero" stroke-width=".4">
														<path
															d="m6.304 9.696c-0.288-0.288-0.512-0.608-0.704-0.992-0.16-0.32-0.032-0.704 0.288-0.864 0.32-0.16 0.704-0.032 0.864 0.288 0.128 0.224 0.256 0.448 0.448 0.64 0.928 0.928 2.432 0.928 3.36 0l3.36-3.328c0.928-0.928 0.928-2.432 0-3.36s-2.432-0.928-3.36 0l-2.272 2.272c-0.256 0.256-0.64 0.256-0.896 0-0.256-0.256-0.256-0.64 0-0.896l2.272-2.272c1.44-1.44 3.744-1.44 5.184 0 1.44 1.44 1.44 3.744 0 5.184l-3.36 3.296c-0.704 0.704-1.632 1.088-2.592 1.088-0.928 0-1.856-0.352-2.592-1.056z">
														</path>
														<path
															d="m3.776 15.808c-0.992 0-1.888-0.384-2.592-1.056-1.44-1.44-1.44-3.744 0-5.184l3.328-3.328c1.44-1.44 3.744-1.44 5.184 0 0.288 0.288 0.544 0.64 0.736 1.024 0.16 0.32 0 0.704-0.32 0.864-0.32 0.16-0.704 0-0.864-0.32-0.128-0.256-0.288-0.48-0.48-0.672-0.928-0.928-2.432-0.928-3.36 0l-3.296 3.328c-0.928 0.928-0.928 2.432 0 3.36 0.448 0.448 1.056 0.704 1.664 0.704 0.608 0 1.248-0.256 1.664-0.704l2.112-2.112c0.256-0.256 0.64-0.256 0.896 0s0.256 0.64 0 0.896l-2.112 2.112c-0.672 0.704-1.568 1.088-2.56 1.088z">
														</path>
													</g>
												</g>
											</svg>
										</span>
										<span id="ubb_code" class="comment_icon" title="添加代码(Ctrl + `)" alt="代码">
											<svg class="comment_svg comment_svg_stroke" version="1.1"
												viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<g fill-rule="evenodd">
													<g transform="translate(16 6)" stroke-linecap="round"
														stroke-width="2">
														<line x1=".5" x2="4.5" y1=".7" y2="6.3"></line>
														<line
															transform="translate(2.5 9.1) scale(1 -1) translate(-2.5 -9.1)"
															x1=".5" x2="4.5" y1="6.3" y2="11.9"></line>
													</g>
													<g transform="translate(3 6.1)" stroke-linecap="round"
														stroke-width="2">
														<line
															transform="translate(2.5 3.5) scale(-1 1) translate(-2.5 -3.5)"
															x1=".5" x2="4.5" y1=".7" y2="6.3"></line>
														<line
															transform="translate(2.5 9.1) scale(-1) translate(-2.5 -9.1)"
															x1=".5" x2="4.5" y1="6.3" y2="11.9"></line>
													</g>
													<path
														transform="translate(12 12.5) scale(1 -1) translate(-12 -12.5)"
														d="m10.778 7.1249c0.50008-0.11366 0.9978 0.16911 1.1643 0.64128l0.032406 0.11223 2 8.8c0.1224 0.53855-0.21496 1.0744-0.75351 1.1968-0.50008 0.11366-0.9978-0.16911-1.1643-0.64128l-0.032406-0.11223-2-8.8c-0.1224-0.53855 0.21496-1.0744 0.75351-1.1968z"
														fill-rule="nonzero" stroke-width=".25"></path>
												</g>
											</svg>
										</span>
										<span id="ubb_quote" class="comment_icon" title="添加引用(Ctrl + Q)" alt="引用">
											<svg class="comment_svg" version="1.1" viewBox="0 0 24 24"
												xmlns="http://www.w3.org/2000/svg">
												<g fill-rule="evenodd">
													<g transform="translate(5 4)" fill-rule="nonzero"
														stroke-width=".25">
														<path
															d="m5.0013 15v-5.2702h-2.8008c-0.13413-3.3762 1.2004-6.2143 4.0009-8.5135l-1.2-1.2163c-3.335 2.2996-5.0013 5.8119-5.0013 10.54v4.4595h5.0013-1.285e-5zm8.7987 0v-5.2702h-2.8008c-0.13453-3.3762 1.2-6.2143 4.0009-8.5135l-1.2-1.2163c-3.335 2.2996-5.0013 5.8119-5.0013 10.54v4.4595h5.0013-1.28e-5z">
														</path>
													</g>
												</g>
											</svg>
										</span>
										<span id="ubb_img" class="comment_icon" alt="图片" title="上传图片(Ctrl + I)">
											<svg class="comment_svg" version="1.1" viewBox="0 0 24 24"
												xmlns="http://www.w3.org/2000/svg">
												<g fill-rule="evenodd">
													<g transform="translate(3 3.8)" fill-rule="nonzero">
														<path
															d="m14.1 0.58235h-11.2c-1.32 0-2.4 1.0482-2.4 2.3294v10.871c0 1.2812 1.08 2.3294 2.4 2.3294h11.2c1.32 0 2.4-1.0482 2.4-2.3294v-10.871c0-1.2812-1.08-2.3294-2.4-2.3294zm0.7 13.569-3.63-3.4165 1.33-1.2909c0.21-0.20382 0.59-0.20382 0.8 0l1.6 1.5529v2.7856c0 0.13588-0.04 0.26206-0.1 0.36882zm-11.9-12.016h11.2c0.44 0 0.8 0.34941 0.8 0.77647v5.8915l-0.47-0.45618c-0.84-0.825-2.22-0.825-3.07 0l-1.35 1.3103-2.39-2.2421c-0.85-0.825-2.22-0.825-3.05-0.019412l-2.48 2.2615v-6.7456c0.01-0.42706 0.37-0.77647 0.81-0.77647zm-0.8 11.647v-1.9897l3.6-3.2806c0.21-0.20382 0.58-0.21353 0.81 0.0097059l6.43 6.0371h-10.04c-0.44 0-0.8-0.33971-0.8-0.77647z">
														</path>
														<ellipse cx="10.5" cy="6.4059" rx="1" ry="1"></ellipse>
													</g>
												</g>
											</svg>
										</span>
									</div>
								</div>
								<div style="display:none">
									<span id="comment_edit_id"></span>
									<span id="span_parentcomment_id"></span>
									<span id="span_parent_id"></span>
									<span id="span_comment_replyto"></span>
									<span id="span_comment_posted"></span>
									<span id="span_current_user_id">8a1d5911-2fd3-40d4-1799-08d6ae5bbb5c</span>
								</div>
								<textarea id="tbCommentBody" placeholder="支持 Markdown"></textarea>
								<div id="tbCommentBodyPreview" class="feedbackCon" style="display: none">
									<div id="tbCommentBodyPreviewBody"
										class="blog_comment_body comment_preview cnblogs-markdown"></div>
								</div>
								<div class="commentbox_footer">
									<a class="comment_option">Markdown 帮助</a>
									<span id="btn_comment_options" class="comment_option">
										<input id="ubb_auto_completion" class="inline_middle" type="checkbox">
										<label class="inline_middle" for="ubb_auto_completion">自动补全</label>
									</span>
								</div>
							</div>
							<p id="commentbox_opt">
								<input id="btn_comment_submit" type="button" class="comment_btn"
									title="提交评论(Ctrl + Enter)" value="提交评论">
								<span id="span_comment_canceledit" style="display:none"><a href="javascript:void(0);"
										onclick="return CancelCommentEdit()">不改了</a></span>
								<a href="javascript:void(0);" onclick="return logout();">退出</a>
								<a id="commentbox_opt_sub" href="javascript:void(0);" title="订阅后有新评论时会邮件通知您"
									onclick="commentManager.Subscribe()">订阅评论</a>
							</p>
							<div id="tip_comment2" style="color:Red"></div>
							<p>[Ctrl+Enter快捷键提交]</p>
						</div>
						<div class="ad_text_commentbox" id="ad_text_under_commentbox"></div>
						<div id="ad_t2"><a href="http://www.ucancode.com/index.htm" target="_blank"
								onclick="ga('send', 'event', 'Link', 'click', 'T2-ucancode')">【推荐】超50万行VC++源码:
								大型组态工控、电力仿真CAD与GIS源码库</a><br><a
								href="https://cloud.tencent.com/act/seckill?fromSource=gwzcw.3498755.3498755.3498755&amp;utm_medium=cpc&amp;utm_id=gwzcw.3498755.3498755.3498755"
								target="_blank"
								onclick="ga('send', 'event', 'Link', 'click', 'T2-腾讯云')">【推荐】腾讯云产品限时秒杀，爆款1核2G云服务器99元/年！</a><br><a
								href="https://developer.aliyun.com/article/757033?utm_content=g_1000114114"
								target="_blank"
								onclick="ga('send', 'event', 'Link', 'click', 'T2-阿里云开发者社区')">【推荐】Linux纯干货知识总结 |
								面试专用</a><br><a href="https://developer.aliyun.com/ask/257834?utm_content=g_1000088953"
								target="_blank"
								onclick="ga('send', 'event', 'Link', 'click', 'T2-阿里云开发者社区')">【推荐】大咖问答：D2
								前端技术专场问答</a><br></div>
						<div id="opt_under_post"></div>
						<div id="cnblogs_c1" class="c_ad_block">
							<div id="div-gpt-ad-1546353474406-0" style="height:250px; width:300px;"></div>
						</div>
						<div id="under_post_news"></div>
						<div id="cnblogs_c2" class="c_ad_block">
							<div id="div-gpt-ad-1539008685004-0" style="height:60px; width:468px;">
							</div>
						</div>
						<div id="under_post_kb">
							<div class="itnews c_ad_block">
								<b>最新 IT 新闻</b>:
								<br>
								· <a href="//news.cnblogs.com/n/660642/" target="_blank">当当副总裁阚敏：俞渝仍掌控公司，李国庆离越远越好</a>
								<br>
								· <a href="//news.cnblogs.com/n/660641/" target="_blank">一文读懂李国庆夺权当当：连发三份公告 细数俞渝七宗罪</a>
								<br>
								· <a href="//news.cnblogs.com/n/660640/" target="_blank">当当电话会议实录：李国庆抢公章行为非法
									俞渝持股52.23%</a>
								<br>
								· <a href="//news.cnblogs.com/n/660639/" target="_blank">律师解读李国庆夺公章事件：临时股东会决议很可能认定无效</a>
								<br>
								· <a href="//news.cnblogs.com/n/660638/" target="_blank">李国庆方面再发公告：当当股权作为夫妻共同财产一人一半</a>
								<br>
								» <a href="https://news.cnblogs.com/" title="IT 新闻" target="_blank">更多新闻...</a>
							</div>
						</div>
						<div id="HistoryToday" class="c_ad_block"></div>
					</div>
				</div>
			</div>
			<!-- sidebar -->
			<div id="sideBar">
				<div id="sideBarMain">
					<!-- 公告 -->
					<div id="sidebar_news" class="newsItem">
						<h3 class="catListTitle">公告</h3>
						<div id="blog-news">
							<div id="profile_block">
								昵称：<a href="https://home.cnblogs.com/u/guangzanassistant/">awescnb-test</a>
								<br>
								园龄：<a href="https://home.cnblogs.com/u/guangzanassistant/"
									title="入园时间：2019-03-22">1年1个月</a>
								<br>
								粉丝：<a href="https://home.cnblogs.com/u/guangzanassistant/followers/">0</a>
								<br>
								关注：<a href="https://home.cnblogs.com/u/guangzanassistant/followees/">2</a>
								<div id="p_b_follow"></div>
							</div>
						</div>
					</div>
					<!-- 日历 -->

					<div id="calendar">
						<div id="blog-calendar" style="">

							<table id="blogCalendar" class="Cal" cellspacing="0" cellpadding="0" title="Calendar"
								border="0">
								<tbody>
									<tr>
										<td colspan="7">
											<table class="CalTitle" cellspacing="0" border="0">
												<tbody>
													<tr>
														<td class="CalNextPrev">
															<a href="javascript:void(0);"
																onclick="loadBlogCalendar('2020/06/29'); return false;">&lt;</a>
														</td>
														<td align="center">2020年7月</td>
														<td align="right" class="CalNextPrev">
															<a href="javascript:void(0);"
																onclick="loadBlogCalendar('2020/08/29'); return false;">&gt;</a>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr>
										<th class="CalDayHeader" align="center" abbr="日" scope="col">日</th>
										<th class="CalDayHeader" align="center" abbr="一" scope="col">一</th>
										<th class="CalDayHeader" align="center" abbr="二" scope="col">二</th>
										<th class="CalDayHeader" align="center" abbr="三" scope="col">三</th>
										<th class="CalDayHeader" align="center" abbr="四" scope="col">四</th>
										<th class="CalDayHeader" align="center" abbr="五" scope="col">五</th>
										<th class="CalDayHeader" align="center" abbr="六" scope="col">六</th>
									</tr>
									<tr>
										<td class="CalOtherMonthDay" align="center">28</td>
										<td class="CalOtherMonthDay" align="center">29</td>
										<td class="CalOtherMonthDay" align="center">30</td>
										<td class="" align="center">
											1
										</td>
										<td class="" align="center">
											2
										</td>
										<td class="" align="center">
											3
										</td>
										<td class="CalWeekendDay" align="center">
											4
										</td>
									</tr>
									<tr>
										<td class="CalWeekendDay" align="center">
											5
										</td>
										<td class="" align="center">
											6
										</td>
										<td class="" align="center">
											7
										</td>
										<td class="" align="center">
											8
										</td>
										<td class="" align="center">
											9
										</td>
										<td class="" align="center">
											10
										</td>
										<td class="CalWeekendDay" align="center">
											11
										</td>
									</tr>
									<tr>
										<td class="CalWeekendDay" align="center">
											12
										</td>
										<td class="" align="center">
											13
										</td>
										<td class="" align="center">
											14
										</td>
										<td class="" align="center">
											15
										</td>
										<td class="" align="center">
											16
										</td>
										<td class="" align="center">
											17
										</td>
										<td class="CalWeekendDay" align="center">
											18
										</td>
									</tr>
									<tr>
										<td class="CalWeekendDay" align="center">
											19
										</td>
										<td class="" align="center">
											20
										</td>
										<td class="" align="center">
											21
										</td>
										<td class="" align="center">
											22
										</td>
										<td class="" align="center">
											23
										</td>
										<td class="" align="center">
											24
										</td>
										<td class="CalWeekendDay" align="center">
											25
										</td>
									</tr>
									<tr>
										<td class="CalWeekendDay" align="center">
											26
										</td>
										<td class="" align="center">
											<a
												href="https://www.cnblogs.com/houqx/archive/2020/07/27.html"><u>27</u></a>
										</td>
										<td class="" align="center">
											28
										</td>
										<td class="CalTodayDay" align="center">
											29
										</td>
										<td class="" align="center">
											30
										</td>
										<td class="" align="center">
											31
										</td>
										<td class="CalOtherMonthDay" align="center">
											1
										</td>
									</tr>
									<tr>
										<td class="CalOtherMonthDay" align="center">
											2
										</td>
										<td class="CalOtherMonthDay" align="center">
											3
										</td>
										<td class="CalOtherMonthDay" align="center">
											4
										</td>
										<td class="CalOtherMonthDay" align="center">
											5
										</td>
										<td class="CalOtherMonthDay" align="center">
											6
										</td>
										<td class="CalOtherMonthDay" align="center">
											7
										</td>
										<td class="CalOtherMonthDay" align="center">
											8
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
					<!-- 其他 -->
					<div id="leftcontentcontainer">
						<div id="blog-sidecolumn">
							<!-- 搜索 -->
							<div id="sidebar_search" class="sidebar-block">
								<div id="sidebar_search" class="mySearch">
									<h3 class="catListTitle">搜索</h3>
									<div id="sidebar_search_box">
										<div id="widget_my_zzk" class="div_my_zzk">
											<input type="text" id="q" onkeydown="return zzk_go_enter(event);"
												class="input_my_zzk">&nbsp;<input onclick="zzk_go()" type="button"
												value="找找看" id="btnZzk" class="btn_my_zzk">
										</div>
										<div id="widget_my_google" class="div_my_zzk">
											<input type="text" name="google_q" id="google_q"
												onkeydown="return google_go_enter(event);"
												class="input_my_zzk">&nbsp;<input onclick="google_go()" type="button"
												value="谷歌搜索" class="btn_my_zzk">
										</div>
									</div>
								</div>
							</div>
							<!-- 常用链接 -->
							<div id="sidebar_shortcut" class="sidebar-block">
								<div class="catListLink">
									<h3 class="catListTitle">
										常用链接
									</h3>
									<ul>
										<li>

											<a href="https://www.cnblogs.com/guangzanassistant/p/"
												title="我的博客的随笔列表">我的随笔</a>
										</li>
										<li>

											<a href="https://www.cnblogs.com/guangzanassistant/MyComments.html"
												title="我的发表过的评论列表">我的评论</a>
										</li>
										<li>

											<a href="https://www.cnblogs.com/guangzanassistant/OtherPosts.html"
												title="我评论过的随笔列表">我的参与</a>
										</li>
										<li>

											<a href="https://www.cnblogs.com/guangzanassistant/RecentComments.html"
												title="我的博客的评论列表">最新评论</a>
										</li>
										<li>

											<a href="https://www.cnblogs.com/guangzanassistant/tag/"
												title="我的博客的标签列表">我的标签</a>
										</li>

									</ul>
									<div id="itemListLin_con" style="display:none;">
										<ul>

										</ul>
									</div>
								</div>


							</div>
							<!-- 最新随笔 -->
							<div id="sidebar_recentposts" class="sidebar-block">
								<div class="catListEssay">
									<h3 class="catListTitle">最新随笔</h3>
									<ul>
										<li>


											<a
												href="https://www.cnblogs.com/guangzanassistant/p/12783159.html">1.测试3</a>

										</li>
										<li>


											<a
												href="https://www.cnblogs.com/guangzanassistant/p/12783148.html">2.测试2</a>

										</li>
										<li>


											<a href="https://www.cnblogs.com/guangzanassistant/p/12549775.html">3.markdonwn
												测试1</a>

										</li>


									</ul>
								</div>


							</div>
							<!-- 我的标签 -->
							<div id="sidebar_toptags" class="sidebar-block">
								<div class="catListTag">
									<h3 class="catListTitle">我的标签</h3>
									<ul>

										<li>
											<a
												href="https://www.cnblogs.com/guangzanassistant/tag/awescnb/">awescnb</a>(3)
										</li>
										<li>
											<a href="https://www.cnblogs.com/guangzanassistant/tag/test/">test</a>(3)
										</li>
										<li>
											<a href="https://www.cnblogs.com/guangzanassistant/tag/">更多</a>
										</li>

									</ul>
								</div>


							</div>
							<!-- 积分与排名 -->
							<div id="sidebar_scorerank" class="sidebar-block">
								<div class="catListBlogRank">
									<h3 class="catListTitle">积分与排名</h3>
									<ul>
										<li class="liScore">
											积分 -
											449
										</li>
										<li class="liRank">
											排名 -
											238504
										</li>
									</ul>
								</div>
							</div>
							<!-- 随笔分类、随笔档案、文章分类、新闻分类、相册、链接 -->
							<div id="sidebar_categories">
								<div id="sidebar_imagecategory" class="catListImageCategory sidebar-block">
									<h3 class="catListTitle">相册</h3>
									<ul>
										<li>
											<a href="https://www.cnblogs.com/web-studykeeping/gallery/1810854.html"
												rel="nofollow noopener noreferrer" target="">
												素材(2)
											</a>
										</li>
									</ul>
								</div>
								<div id="sidebar_postcategory" class="catListPostCategory sidebar-block">
									<h3 class="catListTitle">随笔分类</h3>
									<ul>
										<li>
											<a href="https://www.cnblogs.com/guangzanassistant/category/1605656.html"
												rel="" target="">
												测试1(2)
											</a>
										</li>
									</ul>
								</div>
								<div id="sidebar_postarchive" class="catListPostArchive sidebar-block">
									<h3 class="catListTitle">随笔档案</h3>
									<ul>
										<li>
											<a href="https://www.cnblogs.com/guangzanassistant/archive/2020/04.html"
												rel="" target="">2020年4月(3)</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- 最新评论 -->
							<div id="sidebar_recentcomments" class="sidebar-block">
								<div class="catListComment">
									<h3 class="catListTitle">最新评论</h3>
									<div class="RecentCommentBlock">
										<ul>
											<li class="recent_comment_title"><a
													href="https://www.cnblogs.com/guangzan/p/13020977.html">1.
													Re:【汇总】 为园友写的皮肤制作工具 awescnb</a></li>
											<li class="recent_comment_body">@YJLAugus 谢谢支持...</li>
											<li class="recent_comment_author">--DIVMonster</li>
											<li class="recent_comment_title"><a
													href="https://www.cnblogs.com/guangzan/p/13020977.html">2.
													Re:【汇总】 为园友写的皮肤制作工具 awescnb</a></li>
											<li class="recent_comment_body">@NQDXT 因为有个地方使用了 promise,在ie 11 跑不起来，如果你对 ie
												有需要，稍微更改 toast
												插件的代码，build 一遍就好。...</li>
											<li class="recent_comment_author">--DIVMonster</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- 阅读排行榜 -->
							<div id="sidebar_topviewedposts" class="sidebar-block">
							</div>
							<!-- 评论排行榜 -->
							<div id="sidebar_topcommentedposts" class="sidebar-block">
							</div>
							<!-- 推荐排行榜 -->
							<div id="sidebar_topdiggedposts" class="sidebar-block">
							</div>
						</div>
					</div>
				</div>
				<!--end: sideBarMain -->
			</div>
		</div>
		<!-- footer -->
		<div id="footer">
			Copyright © 2020 awescnb-test
			<br>
			<span id="poweredby">Powered by .NET Core on Kubernetes</span>
		</div>
	</div>
</body>
</html>
