$md: (
    linkColor: #00a1d6,
    hrColor: var(--md-hr-color),
    blockquoteBg: var(--blockquote-bg),
    blockquoteBorderColor: var(--blockquote-border-color),
    summary: var(--md-summary-bg),
    summaryOpen: #0984e3,
    markBg: var(--themeColor),
    kbdBg: #fafbfc,
    singleLineCoodeBg: var(--blockquote-bg),
    singleLineCoodeColor: #15a7a7,
);

@import '@/assets/style/markdown';
@import '@/assets/style/markdown-extend';
