$md: (
    linkColor: #00a1d6,
    hrColor: var(--color-basic-400),
    blockquoteBg: var(--color-basic-100),
    blockquoteBorderColor: var(--color-basic-400),
    markBg: var(--themeColor),
    kbdBg: #fafbfc,
    singleLineCoodeBg: var(--color-basic-100),
    singleLineCoodeColor: #15a7a7,
    detailsBg: var(--color-basic-75),
    detailsBorderColor: var(--color-basic-200),
    color-blockquote: var(--color-basic-700),
);

@import 'style/markdown';
