$postSignature: (
    primary: var(--themeColor),
    background: var(--color-basic-100),
    borderRadius: 2px,
);

$dragMenu: (
    background: var(--color-basic-50),
);

$footer: (
    background: var(--color-basic-900),
);

// $linemubers: (
//     color: var(--themeColor),
// );

$player: (
    bodyBackground: var(--main-bg),
);

$postMeaage: (
    categoriesBackground: #ff6b6b,
    tagsBackground: #ff6b6b #fbc531 #22a6b3 #10ac84 #0097e6,
);

$signature: (
    padding: 1rem 14px,
    fontSize: 1em,
);

@import 'plugins/footer/index.scss';
@import 'plugins/copyCode/index.scss';
@import 'plugins/linenumbers/index.scss';
@import 'plugins/postSignature/index.scss';
@import 'plugins/commentsAvatars/index.scss';
@import 'plugins/toolMenu/index.scss';
@import 'plugins/mode/index.scss';
@import 'plugins/highlight/index.scss';
@import 'plugins/imagebox/index.scss';

.custom-toolbar {
    .toolbar-item i::before {
        font-weight: 700;
    }
}
