// default-variables
:root {
    --color-basic-50: #ffffff;
    --color-basic-75: #fafafa;
    --color-basic-100: #f8f8f8;
    --color-basic-200: #eaeaea;
    --color-basic-300: #e1e1e1;
    --color-basic-400: #cacaca;
    --color-basic-500: #b3b3b3;
    --color-basic-600: #8e8e8e;
    --color-basic-700: #6e6e6e;
    --color-basic-800: #4b4b4b;
    --color-basic-900: #2c2c2c;

    --header-bg: var(--color-basic-50);
    --header-text-color: var(--color-basic-800);
    --header-border-color: var(--color-basic-200);
    --header-item-hover-bg: var(--color-basic-100);
    --header-nickname-color: var(--color-basic-800);

    --searchbar-border-color: var(--color-basic-300);
    --searchbar-bg: var(--color-basic-50);
    --searchbar-text-color: var(--color-basic-800);

    --body-text-color: var(--color-basic-800);

    --main-bg: #d1dee8;
    --mainContent-border-color: var(--color-basic-300);
    --mainContent-bg: var(--color-basic-50);

    --title-bg: var(--color-basic-50);
    --postDesc-color: var(--color-basic-700);
    --postCon-color: var(--color-basic-600);

    --title-border-color: var(--color-basic-300);
    --pager-btn-bg: var(--color-basic-75);
    --tags-bg: var(--color-basic-100);

    --sidebarWrap-bg: var(--color-basic-50);
    --sidebar-title-border-color: var(--color-basic-200);

    --calendar-text-color: var(--color-basic-800);
    --postList-bg: var(--color-basic-50);
    --areaTitle-bg: var(--color-basic-100);
    --area-border-color: var(--color-basic-400);
    --menu-bg: var(--color-basic-50);

    --scrollbar-bg: var(--color-basic-300);
    --ads-bg: var(--color-basic-100);

    --blockquote-bg: var(--color-basic-100);
    --blockquote-border-color: var(--color-basic-400);

    --table-border-color: var(--color-basic-400);

    --card-bg: var(--color-basic-75);
    --card-border: 2px solid #cbcbcb;

    --postSignature-primary: #06aae0;
    --postSignature-bg: #f6f8fa;

    --footer-bg: var(--color-basic-900);
}

// variables in dark mode
:root[theme='dark'] {
    --color-basic-50: #252525;
    --color-basic-75: #2f2f2f;
    --color-basic-100: #323232;
    --color-basic-200: #3e3e3e;
    --color-basic-300: #4a4a4a;
    --color-basic-400: #5a5a5a;
    --color-basic-500: #6e6e6e;
    --color-basic-600: #909090;
    --color-basic-700: #b9b9b9;
    --color-basic-800: #bdbdbd;
    --color-basic-900: #c2c2c2;

    --header-bg: #202023;
    --header-text-color: #bababa;
    --header-border-color: #444;
    --header-item-hover-bg: #2c2c2f;
    --header-nickname-color: #bababa;

    --searchbar-border-color: #2c2c2f;
    --searchbar-bg: #444;
    --searchbar-text-color: rgba(163, 97, 97, 0.7);

    --body-text-color: #bababa;

    --main-bg: #202023;
    --mainContent-border-color: #444;

    --title-bg: #2c2c2f;
    --postDesc-color: #999;
    --postCon-color: #888;
    --mainContent-bg: #252528;
    --title-border-color: hsla(0, 0%, 59.2%, 0.1);
    --pager-btn-bg: #444;
    --tags-bg: #2c2c2f;

    --sidebarWrap-bg: #2e2e30;
    --sidebar-title-border-color: #444;

    --calendar-text-color: #000;
    --postList-bg: #2c2c2f;

    --areaTitle-bg: #444;
    --area-border-color: #666;

    --menu-bg: #353538;

    --scrollbar-bg: #444;
    --ads-bg: #444;

    --blockquote-bg: #444;
    --blockquote-border-color: #5e5e60;
    --table-border-color: #444;

    --card-border: 2px solid #5e5e60;
    --card-bg: #353538;

    --footer-bg: #232323;

    --postSignature-primary: #06aae0;
    --postSignature-bg: #444444;
}
