@import "tailwindcss" source("../../src");
@import "tw-animate-css";
@import "./shadcn/themes.css";
@import "./shadcn/globals.css";
@import "./markdown.css";

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    text-rendering: optimizelegibility;
}

body {
  @apply bg-background
    text-foreground
    font-sans
    motion-safe:scroll-smooth
    dark:bg-neutral-950
    dark:text-white;
}


#top_nav {
  @apply hidden;
}

#home {
  @apply hidden;
}
