#catalog {
    padding: 25px;
    font-size: 14px;
    overflow-x: hidden;
    word-wrap: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--sidebarBlock-border-color);
    .catalog-title {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        font-family: DM Sans, sans-serif;
        color: #5c5e6e;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 20px;
        &::after {
            content: '\f107';
            font-weight: 700;
            display: inline-block;
            position: absolute;
            right: 0.5rem;
            margin: 0;
        }
        &.is-active::after {
            transform: rotate(180deg);
            transform-origin: center;
            transition-duration: 86ms;
            transition-property: transform;
        }
    }
    ul {
        border-left: 1px solid var(--sidebarBlock-border-color);
        li {
            margin-top: 3.618px;
            color: var(--catalog-color);
            &:hover {
                color: var(--catalogList-hover);
            }
            a {
                display: inline-block;
                width: 100%;
                .icon {
                    width: 1.2em;
                    height: 1.8em;
                }
            }
        }

        .h1-list,
        .h2-list {
            &::before {
                position: relative;
                right: 4px;
                display: inline-block;
                width: 7px;
                height: 7px;
                content: '';
                border-radius: 50%;
                background-color: var(--themeColor);
            }
        }

        .catalog-active {
            color: var(--themeColor);
            font-weight: 700;
            transition: all 0.3s;
        }

        .h1-list {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
        }
        .h2-list {
            display: flex;
            align-items: center;
        }
        .h2-list {
            font-size: 14px;
        }
        .h3-list,
        .h4-list,
        .h5-list,
        .h6-list {
            font-size: 12px;
        }
        .h1-list ~ .h2-list {
            margin-left: 2em;
            font-size: 14px;
            &::before {
                display: none;
            }
        }
        .h2-list ~ .h3-list {
            margin-left: 3em;
        }
        .h3-list ~ .h4-list {
            margin-left: 4em;
        }
        .h4-list ~ .h5-list {
            margin-left: 5em;
        }
        .h5-list ~ .h6-list {
            margin-left: 6em;
        }
    }
}
