@media screen and (max-width: 1366px) {
    .topicListFooter {
        grid-column-end: 4;
    }

    #home {
        display: grid;
        grid-template-columns: 68px 1fr 1fr 280px;
    }

    .topicListFooter {
        margin-left: 0;
        margin-right: 0;
    }

    #blog-comments-placeholder,
    #comment_form,
    #post_detail {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .topicListFooter {
        grid-column-end: 3;
    }
}

@media screen and (max-width: 768px) {
    #home {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'header header'
            'main main';
    }
    #main {
        margin-top: 0;
        grid-area: auto;
        height: 100vh;
        padding: 0;
    }
    #mainContent {
        grid-template-rows: 30vh 1fr;
        padding: 10px;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .commentform {
        margin-left: 0;
    }

    .topicListFooter {
        grid-column-end: 2;
    }

    #blog_post_info_block #blog_post_info #div_digg {
        margin-top: 12px;
    }

    .comment_actions {
        margin: 0 8px;
    }

    .comment_vote {
        a:last-child {
            padding-right: 8px;
        }
    }

    // .feedbackManage,
    .comment_vote,
    .comment_date,
    #poweredby {
        display: none;
    }

    #myposts {
        grid-template-columns: repeat(1, 1fr);
        .pager {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }

    .pager {
        a {
            padding: 0 8px;
            margin: 0 8px;
        }
    }

    #GalleryThumbNailViewer1_ThumbNails {
        & > tbody > tr {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    #post_detail #topics .postDesc {
        display: none;
    }
    .custom-searchbar {
        z-index: 5;
    }

    .sidebar-block {
        padding: 30px;
    }
    #sideBar,
    #left-side {
        // display: none;
        grid-area: none;
        // margin: 0;
    }

    #left-side {
        padding-top: 20px;
        .leftside-bottom {
            display: none;
        }
        .side-wrapper {
            padding: 30px 0;
            h3 {
                padding-left: 22px;
                position: relative;
                // &::before {
                //     content: '';
                //     display: block;
                //     position: absolute;
                //     left: 20px;
                //     bottom: 4px;
                //     height: 1em;
                //     width: 6px;
                //     background-color: #5c5e6e;
                // }
            }
        }
    }

    #sidebar_shortcut ul li,
    #sidebar_toptags ul li {
        padding: 0.3rem 0.6rem;
        border-radius: 2px;
    }
}
