@media screen and (max-width: 1024px) {
    .topicListFooter {
        margin-left: 0;
        margin-right: 0;
    }

    #blog-comments-placeholder,
    #comment_form,
    #post_detail {
        padding: 1rem;
    }
}

@media screen and (max-width: 767px) {
    #home {
        grid-template-columns: 1fr;
    }
    #main {
        margin-top: 0;
        grid-area: auto;
        height: 100vh;
    }

    #sideBar {
        display: none;
    }

    #left-side {
        display: none;
    }

    .commentform {
        margin-left: 0;
    }

    .topicListFooter {
        grid-column-start: auto;
        grid-column-end: auto;
    }

    #blog_post_info_block #blog_post_info #div_digg {
        margin-top: 1rem;
    }

    #poweredby {
        display: none;
    }

    #myposts {
        grid-template-columns: repeat(1, 1fr);
        .pager {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }

    #GalleryThumbNailViewer1_ThumbNails {
        & > tbody > tr {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
