@media screen and (max-width: 1366px) {
    .topicListFooter {
        grid-column-end: 4;
    }
    #home {
        display: grid;
        grid-template-columns: 68px 1fr 1fr 280px;
    }

    .topicListFooter {
        margin-left: 0;
        margin-right: 0;
    }

    #blog-comments-placeholder,
    #comment_form,
    #post_detail {
        padding: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .topicListFooter {
        grid-column-end: 3;
    }
}

@media screen and (max-width: 767px) {
    #home {
        grid-template-columns: 1fr 1fr 260px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            'main main right'
            'main main right'
            'main main right';
    }

    #left-side {
        display: none;
    }
    #home {
        grid-template-columns: 1fr;
    }
    #main {
        margin-top: 0;
        grid-area: auto;
        height: 100vh;
    }

    #mainContent {
        grid-template-rows: 30vh 1fr;
        padding: 10px;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    #sideBar {
        padding: 0;
        display: none;
    }

    #left-side {
        display: none;
    }

    .commentform {
        margin-left: 0;
    }

    .topicListFooter {
        grid-column-end: 2;
    }

    #homepage_bottom_pager .pager a {
        margin: 0 5px;
        padding: 0;
    }

    #blog_post_info_block #blog_post_info #div_digg {
        margin-top: 1rem;
    }

    .feedbackManage,
    .comment_vote,
    #poweredby {
        display: none;
    }

    #myposts {
        grid-template-columns: repeat(1, 1fr);
        .pager {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }

    #GalleryThumbNailViewer1_ThumbNails {
        & > tbody > tr {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
