$md: (
    linkColor: #00a1d6,
    hrColor: var(--md-hr-color),
    blockquoteBg: var(--md-blockquote-bg),
    blockquoteBorderColor: var(--md-blockquote-border-color),
    summary: var(--md-summary-bg),
    summaryOpen: #0984e3,
    markBg: var(--themeColor),
    kbdBg: #fafbfc,
);

@import '@/assets/style/markdown';
