$md: (
    linkColor: #00a1d6,
    hrColor: var(--md-hr-color),
    blockquoteBg: var(--md-blockquote-bg),
    color-blockquote: var(--md-blockquote-color),
    blockquoteBorderColor: var(--md-blockquote-border-color),
    markBg: var(--themeColor),
    kbdBg: #fafbfc,
    singleLineCoodeBg: var(--md-singlelinecode-bg),
    singleLineCoodeColor: #15a7a7,
    detailsBg: var(--md-summary-bg),
    detailsBorderColor: var(--md-blockquote-border-color),
);

@import 'style/markdown';
@import 'style/markdown-extend';
