$postSignature: (
    primary: var(--postSignature-border-color),
    background: var(--postSignature-bg),
    borderRadius: 2px,
);

$toolMenu: (
    background: var(--color-basic-50),
    color: #fff,
);

$signature: (
    padding: 1rem 14px,
    fontSize: 1em,
);

$imagebox: (
    background: var(--dragmenuItem-bg),
);

$player: (
    bodyBackground: var(--tags-bg),
);

$postMessage: (
    tagsColor: var(--body-color),
);

$emoji: (
    textEmojiColor: var(--body-color),
    bg: var(--emoji-bg),
    borderColor: var(--form-border-color),
    hoverBg: var(--tags-bg),
    hoverBorderColor: var(--postSignature-border-color),
);

@import 'plugins/highlight/index.scss';
@import 'plugins/copyCode/index.scss';
@import 'plugins/linenumbers/index.scss';
@import 'plugins/postMessage/index.scss';
@import 'plugins/commentsAvatars/index.scss';
@import 'plugins/signature/index.scss';
@import 'plugins/emoji/index.scss';
@import 'plugins/imagebox/index.scss';
@import 'plugins/notice/index.scss';
@import 'plugins/postSignature/index.scss';
@import 'plugins/toolMenu/index.scss';
@import 'plugins/mode/index.scss';
@import 'plugins/clickEffect/index.scss';
@import 'plugins/player/index.scss';
@import 'plugins/codeLanguage/index.scss';

.custom-toolbar {
    z-index: 9;
}

// comments avatars
.custom-comment-avatar {
    position: relative;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.custom-comments-author {
    .custom-comment-avatar::after {
        position: absolute;
        bottom: 11px;
        right: 5px;
        content: '\f058';
        color: #4ac7ff;
        background-color: #fff;
        line-height: 1em;
        border-radius: 50%;
        margin-right: 0;
        font-size: 80%;
    }
}

// postMessage
.custom-categories a,
.custom-tags a {
    box-shadow: none;
}

// emoji-button
// .emoji-picker {
//     background-color: #151728;
//     border-color: #202234;
//     .emoji-picker__search {
//         background-color: #202234;
//         border: none;
//     }
// }
// .emoji-picker__emojis {
//     height: 200px;
// }

// image box
.medium-zoom-image--opened {
    z-index: 41;
}

// dragmenu
.custom-drag-menu {
    z-index: 3;
}

.medium-zoom-overlay {
    z-index: 2;
}

// click
#click-effects {
    z-index: 6;
}

// player
body .aplayer.aplayer-fixed .aplayer-lrc {
    bottom: 30px;
}
