@import 'style/hideAds.scss';
@import url(https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css);
@import url(https://at.alicdn.com/t/font_438759_kmvtb0te1nd.css);
@import './scroll.scss';
@import './plugins.scss';

/* 新增 */
#home {
    display: block;
    display: flex;
    flex-direction: column;
}

#back2Top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    transform: rotate(-45deg);
    cursor: pointer;
    font-size: 32px;
}

#back2Top .icon {
    height: 2rem;
}

/* 新增 end */
#blogTitle {
    padding: 40px 20px 10px;
    /*璁剧疆椤堕儴澶村儚鑳屾櫙*/
    background-image: url(https://img2018.cnblogs.com/blog/1489774/201911/1489774-20191115181738072-2067895519.jpg);
    background-position: center;
    background-size: cover;
}

#blogLogo {
    width: 80px;
    height: 80px;
    /*璁剧疆澶村儚*/
    background-image: url(https://pic.cnblogs.com/avatar/1489774/20190708183140.png);
    background-size: contain;
    border-radius: 50%;
    border: 4px solid #fff;
}

/*** 璁剧疆鍏ㄥ眬涓婚棰滆壊 ***/
html {
    --ThemeColor: #00a1d6;
    /*#2e73ff;#0e948a;*/
    --ThemeColorDark: #2d6dca;
    --AidColor1: #fa7d00;
    --AidColor2: #ff2e2e;
    --AidColor3: #36c67d;
    --TextColor1: #141418;
    --TextColor2: #5f5f6b;
    --TextColor3: #97979f;
    --DividColor: #e7eaf0;
    --BlockColor: #fff;
    --BackgroundColor: #f4f6fa;
    --text1: 28px;
    --text2: 26px;
    --text3: 24px;
    --text4: 22px;
    --text5: 20px;
    --text6: 18px;
}

/**********/
#home {
    font-size: 16px;
}

.desc_img,
.postBody img {
    text-align: center;
    overflow: hidden;
    background-color: var(--BackgroundColor);
    position: relative;
}

.desc_img:before,
.postBody img:before {
    content: '\f03e''  鍥剧墖鍔犺浇澶辫触锛�';
    background-color: var(--BackgroundColor);
    font-family: FontAwesome;
    line-height: 110px;
    font-size: 16px;
    color: var(--TextColor2);
}

.desc_img:after,
.postBody img:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    background-color: var(--BackgroundColor);
}

#green_channel_follow:hover,
#green_channel_favorite:hover {
    background: none !important;
}

/*** 椤堕儴鎸夐挳**/
#blog_nav_shortcut:before {
    content: '\f022';
    color: #fb7299;
    margin-right: 6px;
    font-family: FontAwesome;
}

#blog_nav_theme:before {
    content: '\f1de';
    margin-right: 6px;
    color: #00c091;
    font-family: FontAwesome;
}

#blog_nav_frieds:before {
    content: '\f0c1';
    margin-right: 6px;
    color: #f3a034;
    font-family: FontAwesome;
}

#blog_nav_maintain:before {
    content: '\f0ad';
    margin-right: 6px;
    color: #ff5d47;
    font-family: FontAwesome;
}

#blog_nav_cnblogs:before {
    content: '\f29a';
    margin-right: 6px;
    color: #3c9ed1;
    font-family: FontAwesome;
}

/******************/

#tbCommentAuthor {
    background-color: transparent;
    width: 100px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    margin-left: -40px;
    font-size: 16px;
    background-color: var(--BlockColor);
    line-height: 30px;
    background-position: left;
    padding: 10px 4px 10px 40px;
    background-image: url(https://images.cnblogs.com/cnblogs_com/webqiand/1381628/o_uesravatars.png);
    background-size: 30px 30px;
}

.commentbox_footer,
.commentbox_title_left {
    display: none;
}

.commentbox_title {
    float: right;
    width: auto !important;
}

html {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

#commentbox_opt {
    text-align: right;
    float: right;
    color: var(--TextColor1);
}

.commentform p {
    margin: 10px 0;
}

// #main {
//     transition: all 200ms ease-in-out;
//     -webkit-transition: all 200ms ease-in-out;
// }

tbody tr:nth-child(n + 2) {
    padding: 20px 0;
}

.shortcut {
    transition: all 400ms ease-in-out;
}

/**********/
// #slideContainer,
// .day,
// .shortcut,
// #topics,
// #myposts .PostList,
// .entrylist,
// .mySearch,
// #comment_form_container,
// #blog-comments-placeholder,
// #under_post_news,
// #sidebar_news,
// #blog-calendar,
// #sidebar_shortcut,
// #sidebar_articlearchive,
// #sidebar_imagecategory,
// #sidebar_recentposts,
// #sidebar_toptags,
// #sidebar_scorerank,
// #sidebar_postcategory,
// .catList.sidebar-block,
// #sidebar_postarchive,
// #sidebar_recentcomments,
// #sidebar_topviewedposts,
// #sidebar_topcommentedposts,
// #sidebar_topdiggedposts,
// #sidebar_articlecategory,
// #sidebar_scroller {
//     transition: all 300ms ease-in-out;
//     /*box-shadow: 0 0 0 1px #eee;*/
//     /*border: 1px solid var(--DividColor);*/
// }

/************/
.postText2 {
    margin: 10px 0;
}

.PostList img {
    max-width: 100%;
    border-radius: 4px;
}

#myposts .pager {
    text-align: center;
}

.clipboard-button:before {
    content: '\f0ea';
    margin-right: 10px;
    font-family: FontAwesome;
}

#sidebar_shortcut ul li:nth-child(1):before {
    content: '\f1fc';
    font-family: FontAwesome;
}

#sidebar_shortcut ul li:nth-child(2):before {
    content: '\f075';
    font-family: FontAwesome;
}

#sidebar_shortcut ul li:nth-child(3):before {
    content: '\f0c0';
    font-family: FontAwesome;
}

#sidebar_shortcut ul li:nth-child(4):before {
    content: '\f27a';
    font-family: FontAwesome;
}

#sidebar_shortcut ul li:nth-child(5):before {
    content: '\f02c';
    font-family: FontAwesome;
}

.liScore:before {
    content: '\f005';
    font-family: FontAwesome;
}

.liRank:before {
    content: '\f091';
    font-family: FontAwesome;
}

#sidebar_recentposts ul li:before {
    content: '\f017';
    font-family: FontAwesome;
}

#sidebar_links1575513 ul li:before {
    content: '\f121';
    font-family: FontAwesome;
}

#sidebar_topviewedposts ul li:before {
    content: '\f06e';
    font-family: FontAwesome;
}

#sidebar_topcommentedposts ul li:before {
    content: '\f075';
    font-family: FontAwesome;
}

#sidebar_topdiggedposts ul li:before {
    content: '\f164';
    font-family: FontAwesome;
}

#sidebar_imagecategory ul li:before {
    content: '\f03e';
    font-family: FontAwesome;
}

#sidebar_articlearchive ul li:before {
    content: '\f073';
    font-family: FontAwesome;
}

#sidebar_postarchive ul li:before {
    content: '\f073';
    font-family: FontAwesome;
}

#sidebar_postcategory ul li:before {
    content: '\f02d';
    font-family: FontAwesome;
}

.catListTag ul li:before {
    content: '\f02c';
    font-family: FontAwesome;
}

.blog_comment_body img {
    max-width: 100% !important;
}

.recent_comment_title:before {
    content: '\f27a';
    font-family: FontAwesome;
    margin-right: 10px;
    margin-left: 0px;
}

.recent_comment_author {
    border-bottom: 1px solid var(--DividColor);
    padding: 10px 0;
    margin-bottom: 10px;
}

li.recent_comment_body {
    background-color: var(--BackgroundColor);
    padding: 10px;
    border-radius: 4px;
}

.dayTitle a:before {
    content: '\f073';
    font-family: FontAwesome;
    margin-right: 10px;
    margin-left: 0px;
}

.comment_date {
    float: right;
}

.comment_vote,
.comment_actions,
.comment_date {
    color: var(--TextColor3);
}

.comment_actions {
    margin-left: -14px;
    display: inline-flex;
}

.feedbackListSubtitle a:last-child {
    font-weight: 700;
    color: var(--TextColor1);
    display: grid;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: -40px;
}

.feedbackListSubtitle a:last-child:hover {
    transition: color 0.2s;
    color: var(--ThemeColor);
}

.feedbackListSubtitle {
    color: transparent;
}

.comment_actions a:last-child {
    font-weight: normal !important;
    color: var(--TextColor3);
    margin: 0 !important;
    padding: 0 !important;
}

.comment_burry:before {
    content: '\f088';
    font-family: FontAwesome;
    margin-right: 0px;
    margin-left: 10px;
}

.comment_digg:before {
    content: '\f087';
    font-family: FontAwesome;
    margin-right: 0px;
    margin-left: 10px;
}

#topics .postDesc a:nth-child(5):before {
    content: '\f040';
    font-family: FontAwesome;
    margin-right: 0px;
}

#topics .postDesc a:nth-child(6):before {
    content: '\f02e';
    font-family: FontAwesome;
    margin-right: 4px;
}

#BlogPostCategory a:before {
    content: '\f02d';
    font-family: FontAwesome;
    margin-right: 4px;
}

#EntryTag a:before {
    content: '\f02c';
    font-family: FontAwesome;
    margin-right: 4px;
}

/*.postDesc a:nth-child(2):after {
   content:'';
   display:table;
width:100%;
}*/

#cnblogs_post_body a {
    color: var(--ThemeColor);
}

.c_b_p_desc_readmore {
    display: none;
}

/*.day:hover .c_b_p_desc_readmore{
display:block;
}*/

/* 璇楀彞 */
.poem {
    background: linear-gradient(to right, #90caf9, #047edf 99%);
    border-radius: 4px;
    color: #fff;
    padding: 40px 20px;
}

.poem #poem_sentence {
    text-align: center;
    font-size: 20px;
}

.poem #poem_info {
    text-align: right;
}

/** 鎹峰緞 **/
.shortcut {
    overflow: hidden;
    border-radius: 4px;
    background: var(--BlockColor);
    word-break: break-all;
    z-index: 999999999999999999;
}

.shortcut h3 {
    margin: 20px 0;
    border-left: 4px solid var(--ThemeColor);
    padding-left: 10px;
}

#shortcutContent {
    padding: 0 !important;
    margin: 20px;
}

/*涓汉绛惧悕*/
#MySignature {
    display: block !important;
}

/****** 鎻愮ず娑堟伅妗� *******/
.infocard {
    border-radius: 4px;
    margin: 0 0 20px 0;
    padding: 10px;
    line-height: 2;
}

.infocard i {
    float: left;
    margin: 0 10px;
    vertical-align: middle !important;
}

.tip {
    background-color: #d5f1e5;

    color: #20704d;
}

.warning {
    background-color: #f9e8de;

    color: #a84229;
}

.normal {
    background-color: #dfedf8;

    color: #3162ae;
}

/* 鎶樺彔 */
details {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin: 10px 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    outline: none;
    user-select: none;
    background-color: #eff3f5;
    border-radius: 4px;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5em;
    border-radius: 4px 4px 0 0;
}

#card {
    background-color: var(--BlockColor);
    border-radius: 8px;
    width: 100%;
    margin: 20px 0;
    border: 1px solid rgba(120, 130, 140, 0.13);
}

#card:hover {
    box-shadow: 6px 11px 41px -28px #a99de7;
}

#card p {
    margin: 0 !important;
}

#proBody center {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

#proBody {
    background-color: #000;
    filter: Alpha(opacity=80);
    border-radius: 8px 8px 0 0;
    background-image: url(https://img2018.cnblogs.com/blog/1489774/201911/1489774-20191115181738072-2067895519.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proBody img {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#proBody .name {
    font-size: 28px;
    color: white;
    font-weight: 700;
}

#proBody .sign {
    /*color: #8898aa;*/
    color: white;
}

#proBody .contact {
    background-color: #4d7cff;
    width: 200px !important;
    color: white;
    margin: 20px 0;
    padding: 10px 20px;
    border: 1px solid #4d7cff;
    border-radius: 80px;
    outline: none;
}

#proBody .contact:hover {
    opacity: 0.8;
}

#proFooter {
    columns: 3;
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
}

#proFooter ul {
    margin-left: 0 !important;
}

#proFooter li {
    list-style: none !important;
    line-height: 2;
}

#proFooter li:nth-child(1),
#proFooter li:nth-child(2) {
    border-right: 1px solid rgba(120, 130, 140, 0.13);
}

/* 鍗氬搴曢儴鍔熻兘*/
#div_digg {
    width: auto !important;
    font-size: 22px;
}

.buryit:hover,
.diggit:hover {
    opacity: 0.8;
}

.diggit {
    background: none !important;
    font-size: 20px;
    height: auto;
    padding: 0;
    margin: 0 20px 0 0;
    height: auto;
    width: auto !important;
    color: var(--TextColor2) !important;
    background-color: #00000000 !important;
    border: 1px solid #00000000 !important;
}

#digg_count {
    color: var(--TextColor2) !important;
}

.diggit:before {
    content: '\f087';
    font-family: FontAwesome;
    margin-right: 0px;
    margin-left: 10px;
}

.buryit {
    width: auto !important;
    font-size: 20px;
    height: auto;
    padding: 0;
    margin: 0;
    background: none !important;
    color: var(--TextColor2) !important;
    background-color: #00000000 !important;
    border: 1px solid #00000000 !important;
}

#bury_count {
    color: var(--TextColor2) !important;
}

.buryit:before {
    content: '\f088';
    font-family: FontAwesome;
    margin-right: 0px;
    margin-left: 10px;
}

/****鍗氭枃绛惧悕淇℃伅*****/
.myPostSignature {
    padding: 12px 24px 12px 30px;
    margin-top: 15px;
    margin-left: 5px;
    border-left-width: 4px;
    font-size: 15px;
    line-height: 2;
    border-left-style: solid;
    background-color: #f8f8f8;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-left-color: var(--ThemeColor);
    z-index: 1;
}

.myPostSignature:before {
    content: '!';
    background-color: var(--ThemeColor);
    position: absolute;
    top: 25px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
}

.myPostSignature p {
    margin: 0 !important;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

/*************/
/********** 閫傞厤360浠ヤ笂鐨勭Щ鍔ㄧ **********/
@media only screen and (min-width: 361px) and (max-width: 767px) {
    /*鐩稿唽*/
    #ViewPicture1_GalleryImage {
        max-width: 100% !important;
    }

    .mytoolbar {
        display: none;
    }

    /* 鍐呭鏉垮潡 */
    #mainContent {
        float: left !important;
        margin-left: 0;
    }

    #main,
    #home {
        margin: 20px auto 20px auto;
        padding: 0 !important;
        width: 1200px !important;
    }

    #sideBar {
        float: right !important;
        width: 260px !important;
    }

    /* 搴曢儴椤佃剼鏉垮潡 */
    #footer,
    #page_end_html {
        width: 1200px !important;
        margin: 0 auto;
    }

    #sidebar_search_box input[type='text'] {
        width: 140px !important;
    }

    #header {
        width: 100% !important;
        display: inline-block;
        /*padding: 0 5px;*/
        min-width: initial !important;
    }

    #green_channel {
        /*width: 100% !important;*/
        display: none;
    }
}

/********** 閫傞厤360浠ヤ笅鐨勭Щ鍔ㄧ **********/
@media only screen and (max-width: 360px) {
    /*** 婊氬姩鏉� ***/
    ::-webkit-scrollbar {
        display: none !important;
    }

    ::-webkit-scrollbar-thumb {
        display: none !important;
    }

    ::-webkit-scrollbar-track {
        display: none !important;
    }

    #main {
        font-size: 16px !important;
    }

    #comment_form_container p:nth-of-type(3) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
    }

    #blog_post_info {
        display: grid !important;
    }

    .c_b_p_desc {
        display: grid;
        color: var(--TextColor2);
        line-height: 24px;
        /* display: grid; */
        -webkit-line-clamp: 5;
    }

    .c_b_p_desc .desc_img,
    .entrylistItem .desc_img,
    .day .desc_img {
        float: none;
        margin: -22px 0 10px 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    #header {
        margin: 10px;
    }

    #lnkBlogLogo {
        float: left;
        margin: 0 !important;
    }

    #blogTitle h1 {
        margin: 0 !important;
    }

    #blogTitle {
        display: grid;
        text-align: center;
        width: initial !important;
    }

    .blogStats {
        display: none !important;
    }

    .postDesc a:nth-child(2):after {
        content: '';
        display: table;
        width: 100%;
    }

    #green_channel {
        width: 100% !important;
        justify-content: center;
        align-items: center;
    }

    #header,
    #headbox {
        width: 100% !important;
        display: inline-block;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        min-width: initial !important;
    }

    #comment_form {
        margin: 0 !important;
        padding: 0 !important;
    }

    .avatar {
        width: 50px !important;
    }

    .mytoolbar {
        position: fixed;
        z-index: 9999999999999999999999;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        font-size: 20px;
    }

    #sidebar_scroller {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0;
        opacity: 0.98;
        width: auto !important;
        max-width: 100%;
        margin-bottom: 0 !important;
        display: none;
        border-radius: 0 !important;
        border: none !important;
        border-bottom: 1px solid #eee;
        z-index: 999999999;
    }

    .mytoolbar #toolbtn {
        columns: 3;
        width: 80%;
        /*display: inline-flex;*/
        /* align-items: center; */
        margin: 0 auto;
        /* margin-left: 0 !important; */
    }

    .mytoolbar #toolbtn li a {
        color: inherit;
    }

    .mytoolbar #toolbtn li {
        text-align: center;

        padding: 6px;
        margin: 0 10px;
        background-color: var(--BlockColor);
        border: 1px solid var(--DividColor);
        border-radius: 4px;
        list-style-type: none !important;
        /*line-height: 18px;*/
    }

    #header .dropdown {
        float: right;
        margin-right: 20px;
    }

    #header .dropdown-content {
        margin-left: -70px;
    }

    #header li {
        list-style: none;
        padding: 0 6px;
    }

    #navigator .div_my_zzk {
        float: left !important;
    }

    #navigator .input_my_zzk {
        width: 160px !important;
    }

    #home,
    #main {
        width: initial !important;
        /*padding:0!important;*/
        /*min-width:min-content!important;*/
    }

    #mainContent,
    #footer,
    #page_end_html {
        width: initial !important;
        min-width: initial !important;
    }

    #sideBar {
        width: initial !important;
        margin-left: 0 !important;
    }

    #navList {
        display: flex;
        margin-right: 20px;
    }

    #navList li {
        float: left;
        list-style: none;
        margin: 0 !important;
    }
}

/********** 鍏ㄥ眬鏍峰紡 **********/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--BackgroundColor);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    /*color: var(--TextColor1)*/
}

a:hover {
    color: var(--ThemeColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--TextColor1);
}

/********** 椤甸潰甯冨眬 **********/

/***** 涓荤晫闈� *****/
#home {
    width: 100%;
    margin: 0 auto;
}

/***** 瀵艰埅鏍�(涓�) *****/

/***** 涓绘澘鍧楋紙涓級 *****/

/** 涓绘澘鍧� **/
#main {
    width: 100%;
    width: 1200px;
    margin: 20px auto 20px auto;
    /*display: flex;*/
}

/** 涓昏鍐呭锛堜腑宸︼級 **/
#mainContent {
    width: 900px;
    float: left;
    /*flex:1;*/
    /*background-color: var(--BlockColor);*/
    padding: 0px;
    border-radius: 2px;
}

/** 渚ц竟鏍忥紙涓彸锛� **/
#sideBar {
    width: 280px;
    margin-left: 20px;
    float: left;
}

/***** 椤佃剼锛堜笅锛� *****/
#footer {
    width: 100%;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    color: var(--TextColor3);
}

#viewcount {
    width: 100%;
    color: var(--TextColor3);
    text-align: center;
    margin: 0 auto;
}

/***** 瀵艰埅鏍忓唴瀹瑰竷灞€ *****/
#header {
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    margin-bottom: 10px;
    /*box-shadow: 0 0 0 1px var(--DividColor);*/
    background-color: var(--BlockColor);
    width: 1200px;
    margin: 0 auto;
}

#lnkBlogLogo {
    float: left;
    margin: 20px 20px 20px 0;
}

#blogTitle h1 {
    margin: 20px 0 0 0;
    font-size: 28px;
}

#Header1_HeaderTitle {
    color: #fff;
    text-decoration: none;
}

#blogTitle h2 {
    margin: 10px 0 20px 0;
    font-size: 16px;
    color: #fff;
    min-height: 60px;
    line-height: 1.5;
    /*display: -webkit-box;*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
}

#navigator {
    margin: 0;
    /*width: 100%;*/
    height: 50px;
    overflow-x: auto;
    /*display: inline-block;*/
}

#navList,
.blogStats {
    display: flex;
    margin: 0;
    float: left;
    width: auto;
    padding-left: 20px;
    line-height: 50px;
}

#navList li {
    width: auto;
    list-style: none;
}

#navList li a {
    color: inherit;
    margin-right: 20px;
    text-decoration: none;
}

.blogStats {
    float: right;
    color: var(--TextColor2);
    margin-right: 20px;
}

#blog_nav_sitehome:before {
    content: '\e62d';
    color: #fb7299;
    /*font-size:20px;*/
    font-family: iconfont;
}

#blog_nav_myhome:before {
    content: '\e626';
    color: #00c091;
    /*font-size:20px;*/
    font-family: iconfont;
}

#blog_nav_newpost:before {
    content: '\e628';
    color: #3c9ed1;
    /*font-size:20px;*/
    font-family: iconfont;
}

#blog_nav_contact:before {
    content: '\e624';
    color: #f3a034;
    /*font-size:20px;*/
    font-family: iconfont;
}

#blog_nav_rss:before {
    content: '\e62a';
    color: #ff5d47;
    /*font-size:20px;*/
    font-family: iconfont;
}

#blog_nav_admin:before {
    content: '\e627';
    color: #23c9ed;
    /*font-size:20px;*/
    font-family: iconfont;
}

#navList li a {
    line-height: 48px;
}

#navList li:hover a {
    color: #00a1d6;
    border-bottom: 3px solid #00a1d6;
    padding-bottom: 12px;
}

#stats_article_count:before,
#stats-comment_count:before {
    content: '|';
    margin: 0 10px;
}

/***** 涓昏鍐呭甯冨眬 *****/
/* 褰撴棩鏂囩珷 */
.day {
    background-color: var(--BlockColor);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.day .postTitle {
    border-top: 1px solid var(--DividColor);
    margin-top: 10px;
    padding: 10px 0;
}

.day .postDesc {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 鍙戝竷鏃ユ湡 */
.dayTitle {
    line-height: 2.4;
    width: 100%;
    font-size: var(--text6);
    color: var(--TextColor1);
    /*border-bottom: 1px solid var(--DividColor);*/
}

/* 鏂囩珷鏍囬 */
.day .postTitle2 {
    font-size: var(--text4);
    line-height: 1.5;
    /*color: var(--TextColor1);*/
    padding-left: 10px;
    border-left: 4px solid var(--ThemeColor);
}

#topics .postTitle {
    line-height: 1.2;
    text-align: center;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
}

#topics .postDesc {
    text-align: center;
}

#topics .post {
    display: grid;
    grid-template-columns: 100%;
}

#topics .postBody {
    order: 1;
}

/* 鏂囩珷鍐呭 */
.c_b_p_desc {
    color: var(--TextColor2);
    line-height: 24px;
    /* display: grid; */
    /*max-height: 120px;*/
    padding: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
}

.c_b_p_desc a {
    margin: 10px 0 !important;
    /*width: 94% !important;*/
    line-height: 2.4;
    text-align: center;
    padding: 4px 9px !important;
    /*color: var(--TextColor1) !important;*/
    background-color: var(--BackgroundColor) !important;
    border: 1px solid var(--DividColor) !important;
    /*font-size: 14px !important;*/
    /*height: 30px !important;*/
    /*float: left !important;*/
    border-radius: 4px;
}

/*.c_b_p_desc a:hover {
                color:#fff;
		border: none;
		background-color: var(--ThemeColor)!important;
	}*/
/* 鏂囩珷鍙戝竷鐩稿叧淇℃伅 */
/*.post {
    display: grid;
}
.post .postBody{
order: 1;
}*/
.postDesc,
.post .postBody #BlogPostCategory,
#EntryTag {
    color: var(--TextColor3);
    /*font-size: 14px;*/
    line-height: 1.8;
    margin: 0;
}

/* 鏂囩珷鎽樿鍥剧墖 */
.desc_img {
    height: 110px;
    margin: 0 10px 10px 20px;
    width: 190px;
    object-fit: cover;
    box-shadow: 0 0 0 1px var(--DividColor);
    border-radius: 4px;
}

/***** 渚ц竟鏍忓唴瀹瑰竷灞€ *****/

/** 渚ц竟鏍忔澘鍧楁爣棰� **/
#sideBar h3 {
    line-height: 2.4;
    width: 100%;
    margin-bottom: 10px;
    font-size: var(--text6);
    color: var(--TextColor1);
    border-bottom: 1px solid var(--DividColor);
}

/*** 鍏憡鏍忛潰鏉� ***/
/*涓汉淇℃伅*/
.myprofile {
    margin: 20px 0 0 0;
    /*display: table;*/
    /*width:100%;*/
    height: auto;
}

.myprofile-bottom {
    padding: 20px 0;
    border-top: 1px solid var(--DividColor);
}

.myprofile-top {
    display: inline-flex;
    margin: 0px auto 20px auto;
}

.avatar {
    width: 80px;
    float: left;
}

.avatar img {
    width: 100%;
    /*height: 100%;*/
    border: 1px solid #ddd;
    border-radius: 50%;
}

.profile-info {
    float: left;
    margin-left: 20px;
}

.nickname {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

#mywords {
    line-height: 20px;
    font-size: 12px;
}

.myprofile ul {
    columns: 3;
}

.myprofile ul li {
    text-align: center;
    list-style-type: none;
    line-height: 20px;
}

#sidebar_news {
    background-color: var(--BlockColor);
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* 鍏憡鏍忎俊鎭� */
#profile_block {
    line-height: 2;
}

/* 鍔犲叧娉� */
#p_b_follow {
    background-color: var(--ThemeColor);
    border-radius: 4px;
    margin: 10px 0;
    line-height: 3;
    text-align: center;
}

#p_b_follow:hover {
    opacity: 0.8;
}

/* 鍏虫敞鎴愬姛 */
#p_b_follow a,
#p_b_follow span {
    color: white !important;
}

/* 鏃ュ巻闈㈡澘 */
#blog-calendar {
    background-color: var(--BlockColor);
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* 鏃ュ巻缈婚〉 */
.CalTitle {
    line-height: 2.4;
    font-size: var(--text6);
    color: var(--TextColor1);
}

/* 鏃ュ巻鏄熸湡 */
.CalDayHeader {
    line-height: 2.4;
    font-size: var(--text6);
    color: var(--TextColor1);
    border-bottom: 1px solid var(--DividColor);
}

/* 鏃ュ巻姣忓ぉ */
.CalWeekendDay {
    line-height: 2;
}

/* 鏃ュ巻浠婂ぉ */
.CalTodayDay u,
.CalTodayDay {
    color: #fff !important;
}

#blog-calendar u {
    color: var(--ThemeColor);
    font-weight: 600;
    text-decoration: none !important;
}

.CalTodayDay {
    background-color: var(--ThemeColor);
    line-height: 2.15;
    border-radius: 50%;
    height: 34px !important;
    width: 34px !important;
}

/* 鎼滅储闈㈡澘 */
.mySearch {
    background-color: var(--BlockColor);
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/***** 鎼滅储妗� *****/
#sidebar_search_box .input_my_zzk {
    padding: 6px;
    outline: none;
    margin-left: 5px;
    background: var(--BackgroundColor);
    border: 1px solid var(--DividColor);
    border-radius: 4px;
    width: 145px;
    vertical-align: middle;
    height: 20px;
}

#sidebar_search_box .input_my_zzk:hover {
    border: 1px solid var(--ThemeColor);
}

input.btn_my_zzk {
    color: #fff;
    background-color: var(--ThemeColor);
    border-color: var(--ThemeColor);
    border: 1px;
    padding: 8px;
    border-radius: 2px;
    height: auto !important;
}

input.btn_my_zzk:hover {
    outline: none;
    opacity: 0.7;
}

/******** 瀵艰埅鐩綍 *********/
.scroller-offset1 {
    text-indent: 0;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.scroller-offset2 {
    text-indent: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.scroller-offset3 {
    text-indent: 3em;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.scroller-offset4 {
    text-indent: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.scroller-offset5 {
    text-indent: 6em;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.scroller-offset6 {
    text-indent: 7.5em;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.nav .active {
    background-color: var(--BackgroundColor);
    border-radius: 2px;
    margin: 0 6px;
}

.nav .active a {
    color: var(--ThemeColor);
}

.nav {
    max-height: 400px;
    overflow-y: auto;
    /*padding:10px;*/
    overflow-x: hidden;
    white-space: nowrap;
}

.nav li {
    padding: 2px 10px;
}

.nav li a {
    text-overflow: ellipsis !important;
    width: 100px !important;
    white-space: nowrap;
}

/* 甯哥敤閾炬帴 */
/* 鏈€鏂伴殢绗� */
/*鎴戠殑鏍囩 */
/* 绉垎鎺掑悕 */
/* 闅忕瑪鍒嗙被 妗ｆ鍒嗙被 */
/* 鏈€鏂拌瘎璁� */
/* 闃呰鎺掕 */
/* 璇勮鎺掕 */
/* 鎺ㄨ崘鎺掕 */
/* 鐩綍 */
#sidebar_shortcut,
#sidebar_articlearchive,
#sidebar_imagecategory,
#sidebar_recentposts,
#sidebar_toptags,
#sidebar_scorerank,
#sidebar_postcategory,
.catList.sidebar-block,
#sidebar_postarchive,
#sidebar_recentcomments,
#sidebar_topviewedposts,
#sidebar_topcommentedposts,
#sidebar_topdiggedposts,
/*#sidebar_categories,*/
#sidebar_articlecategory,
#sidebar_scroller {
    background-color: var(--BlockColor);
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

#sidebar_shortcut ul li,
#sidebar_articlearchive ul li,
#sidebar_imagecategory ul li,
#sidebar_recentposts ul li,
#sidebar_toptags ul li,
#sidebar_scorerank ul li,
#sidebar_postcategory ul li,
#sidebar_postarchive ul li,
#sidebar_recentcomments ul li,
#sidebar_topviewedposts ul li,
#sidebar_topcommentedposts ul li,
#sidebar_topdiggedposts ul li,
.catList.sidebar-block ul li,
#sidebar_articlecategory ul li,
#sidebar_scroller ul li {
    list-style: none;
    line-height: 2;
}

/**** 缈婚〉 *****/
#nav_next_page {
    margin-bottom: 20px;
}

.topicListFooter {
    margin: 0px !important;
}

.topicListFooter,
.pager {
    line-height: 3;
    overflow-x: auto;
    display: block !important;
}

.topicListFooter a,
.Pager a,
.pager a {
    background-color: var(--BlockColor);
    padding: 6px 10px;
    display: inline-table;
    line-height: 1.5;
    color: var(--TextColor1);
    border: 1px solid var(--DividColor);
    border-radius: 4px;
}

.pager .current {
    padding: 6px 10px !important;
    display: inline-table;
    line-height: 1.5;
    color: white !important;
    border: 1px solid var(--ThemeColor) !important;
    background-color: var(--ThemeColor) !important;
    border-radius: 4px;
}

.topicListFooter a:hover,
.Pager a:hover,
.pager a:hover {
    color: white;
    border: 1px solid var(--ThemeColor);
    background-color: var(--ThemeColor);
}

.pager,
.Pager {
    font-size: 16px;
    color: var(--TextColor2);
}

/* 鎴戠殑闅忕瑪鏉垮潡绯诲垪 */
#taglist_main {
    margin-top: 0 !important;
}

/* 闅忕瑪绠€浠嬪浘鐗� */
.filter_img {
    width: 100% !important;
    margin: 20px 0 0 0 !important;
    max-height: none !important;
    display: inline-block !important;
    max-width: none !important;
    border-radius: 4px !important;
}

.PostListTitle,
#taglist_title {
    line-height: 2.4;
    font-size: var(--text1);
    color: var(--TextColor1);
    padding: 20px;
    /*background-color:var(--BlockColor);*/
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}

#taglist {
    background-color: var(--BlockColor);
    padding: 20px;
    border-radius: 4px;
    margin: 20px 0;
}

/* 鎴戠殑闅忕瑪鍐呭 */
#myposts {
    margin: 0 !important;
}

.PostList {
    background-color: var(--BlockColor);
    padding: 20px;
    border-radius: 4px;
    margin: 20px 0 !important;
    /* border-bottom: 1px solid var(--DividColor);*/
}

.PostList .postTitl2 {
    font-size: var(--text4);
    line-height: 1.5;
    color: var(--TextColor1);
}

.postTitl2 a {
    padding-left: 10px;
    border-left: 4px solid var(--ThemeColor);
}

.PostList .postDesc2 {
    color: var(--TextColor3);
    font-size: 16px !important;
    line-height: 3;
}

.PostList .postText2 {
    color: var(--TextColor2);
    word-break: break-all;
    font-size: var(--text6) !important;
    line-height: 1.5;
}

/*** 鐩稿唽 ****/
.gallery {
    background-color: var(--BlockColor);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.gallery .thumbTitle {
    line-height: 2.4;
    width: 100%;
    font-size: var(--text1);
    color: var(--TextColor1);
}

.gallery img {
    max-width: 100%;
}

.divPhoto {
    margin: 10px;
}

.table-box {
    line-height: 2.4;
    font-size: var(--text1);
    color: var(--TextColor1);
    padding: 20px 0;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}

/* 闅忕瑪妗ｆ */
.entrylist {
    background-color: var(--BlockColor);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.entrylistItem {
    border-top: 1px solid var(--DividColor);
    margin-top: 10px;
    padding-top: 10px;
}

.entrylistTitle {
    /*line-height: 2.4;*/
    margin: 10px 0;
    width: 100%;
    font-size: var(--text1);
    color: var(--TextColor1);
    /*border-bottom: 1px solid var(--DividColor);*/
}

.entrylistPosttitle {
    font-size: var(--text4);
    line-height: 1.5;
    margin: 10px 0;
    color: var(--TextColor1);
}

.entrylistItemTitle {
    padding-left: 10px;
    border-left: 4px solid var(--ThemeColor);
}

.entrylistPostSummary {
    color: var(--TextColor2);
    line-height: 1.5;
}

.entrylistItemPostDesc {
    color: var(--TextColor3);
    font-size: 16px;
    line-height: 1.5;
}

/* 鎼滅储妗� */
#widget_my_zzk,
#widget_my_google {
    display: flex;
    font-size: 16px !important;
}

.input_my_zzk {
    flex: 1;
    float: left;
}

/********** 鍗氬姝ｆ枃 **********/
#topics {
    background-color: var(--BlockColor);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* 鍗氭枃鏍囬 */
#cb_post_title_url {
    font-size: var(--text2);
}

#topics .postTitle {
    border-bottom: 1px solid var(--DividColor);
}

/* 鍗氭枃搴曢儴鍔熻兘鎸夐挳 */

#blog_post_info {
    margin: 10px auto;
    width: 100%;
    /* display: inline-flex; */
}

#green_channel {
    border: none !important;
    width: auto;
    font-size: 16px;
    display: inline-flex;
    /* margin: 20px 0 !important; */
    padding: 0;
    /* margin: 0; */
}

#green_channel a:hover {
    color: var(--ThemeColor);
}

#green_channel_weibo img,
#green_channel_wechat img {
    display: none;
}

#green_channel_weibo:before {
    content: '\f18a';
    font-family: FontAwesome;
    color: #d21212;
    margin-right: 4px;
    margin-left: 0px;
}

#green_channel_wechat {
    margin-right: 0 !important;
}

#green_channel_wechat:before {
    content: '\f1d7';
    color: #14981a;
    font-family: FontAwesome;
    margin-right: 4px;
    margin-left: 0px;
}

#div_digg {
    float: right;
    margin: 0 auto;
}

#author_profile {
    display: none;
}

#green_channel a {
    /* background: url(); */
    font-weight: normal;
    font-size: 16px !important;
    margin-right: 20px;
    color: var(--TextColor2);
    text-shadow: none !important;
}

#green_channel #green_channel_digg {
    display: none;
}

#green_channel #green_channel_follow:before {
    content: '\f08a';
    font-family: FontAwesome;
    margin-right: 4px;
    margin-left: 0px;
}

#green_channel #green_channel_favorite:before {
    content: '\f006';
    font-family: FontAwesome;
    margin-right: 4px;
    margin-left: 0px;
}

#green_channel #green_channel_follow,
#green_channel #green_channel_favorite,
#green_channel #green_channel_weibo,
#green_channel #green_channel_wechat {
    color: var(--TextColor2) !important;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0px;
    font-size: 16px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#green_channel #green_channel_weibo:hover {
    background-color: #000000 !important;
}

#green_channel_weibo img {
    margin-left: 0 !important;
}

#green_channel #green_channel_wechat:hover {
    background-color: #000000 !important;
}

#green_channel_wechat img {
    margin-left: 0 !important;
}

/*** 鍗氫富淇℃伅 ***/
.author_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0 !important;
    float: left;
    margin: 10px 10px 10px 0;
    border-radius: 50%;
    border: 1px solid var(--DividColor);
}

/****** 涓婁笅鏂� *****/
#post_next_prev {
    border-top: 1px solid var(--DividColor);
    font-size: 14px;
    line-height: 1.8;
    padding-top: 20px;
    color: var(--TextColor1);
}

/********** 鍘诲箍鍛� **********/

#ad_c1,
#ad_c2,
#ad_t2,
.c_ad_block {
    display: none;
}

/********** 璇勮 **********/
.layer {
    color: #3c9ed1;
    border: 1px solid #3c9ed1;

    padding: 2px 6px;
    font-size: 14px;
    border-radius: 4px;
}

.louzhu {
    color: #00c091;
    border: 1px solid #00c091;
    padding: 2px 6px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: -6px;
    margin-right: -6px;
}

/*澶村儚*/
.body_right img {
    border: 1px solid var(--DividColor);
}

/* 璇勮璁板綍闈㈡澘 */
#blog-comments-placeholder {
    background-color: var(--BlockColor);
    border-radius: 4px;
    margin-bottom: 20px;
}

/*鎻愪氦璇勮鍚�*/
#divCommentShow {
    background-color: var(--BlockColor);
    border-radius: 4px;
    margin-bottom: 20px;
}

.comment_my_posted {
    padding: 20px;
}

.bq_post_comment {
    margin: 5px;
    font-style: normal;
    line-height: 2;
    border: none;
    color: var(--TextColor2);
    padding: 10px;
}

/* 璇勮灏忎汉 */
#tbCommentAuthor {
    width: 100px;
}

.blog_comment_body {
    word-wrap: break-word;
    overflow: hidden;
    /*background-color: var(--BackgroundColor);*/
    padding: 30px 0 10px 0;
    border-radius: 4px;
}

/*璇勮寮曠敤 */
.comment_quote {
    padding: 5px 5px 5px 10px;
    border: 1px solid #ccc;
    color: #ccc;
    border-width: 0px 0px 0px 4px;
}

legend {
    display: none;
}

/* 璇勮鍒楄〃鏍囬 */
.feedback_area_title {
    font-size: var(--text6);
    color: var(--TextColor1);
    line-height: 2;
    background-image: none;
    border-bottom: 1px solid var(--DividColor);
    padding: 0;
    margin: 0 20px;
    font-weight: 700;
}

/* 瀹屾暣鐨勮瘎璁哄潡 */
.feedbackItem {
    margin: 0 20px;
    padding: 20px 0;
    /* display: grid; */
    position: relative;
    /* display: flow-root; */
    border-bottom: 1px solid var(--DividColor);
}

.new-comment-block {
    margin: 0 20px;
    padding: 20px 0;
    /* display: grid; */
    position: relative;
    /* display: flow-root; */
}

/* 鍒犻櫎淇敼璇勮 */
.feedbackManage {
    float: left;
    /* order: 1; */
    position: absolute;
    bottom: 20px;
}

.blog_comment_body {
    line-height: 2;
    color: var(--TextColor2);
    margin: 10px 0;
}

.new-comment-block p {
    line-height: 2;
    color: var(--TextColor2);
    margin: 10px 0;
    word-wrap: break-word;
    overflow: hidden;
    background-color: var(--BackgroundColor);
    padding: 10px 20px;
    border-radius: 4px;
}

/* 璇勮鍒锋柊 */
#comment_nav {
    line-height: 50px;
    padding-right: 20px;
    text-align: center;
    color: var(--TextColor1);
    /*margin-bottom: -50px;*/
    background-color: var(--BlockColor);
    padding: 10px 20px;
    border-radius: 4px;
    margin: 20px 0;
}

/*#comment_nav a:nth-child(n+3) {
	display: none;
}*/

/* 璇勮缈婚〉 */
#comment_pager_bottom {
    padding: 20px;
}

/* 璇勮闈㈡澘 */
#comment_form_container {
    background-color: var(--BlockColor);
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* 璇勮鏍囬 */
#commentform_title {
    font-size: var(--text6);
    color: var(--TextColor1);
    line-height: 2;
    background-image: none;
    // border-bottom: 1px solid var(--DividColor);
    padding: 0;
    font-weight: 700;
}

#comment_form_container p {
    line-height: 2;
    color: var(--BlockColor);
}

#commentbox_opt a {
    color: var(--TextColor1);
}

.commentbox_main {
    margin-top: -50px;
}

.commentbox_title_right {
    height: 30px;
}

.commentbox_title {
    width: 100%;
}

/** 璇勮鍖烘墦瀛楁 */
#tbCommentBody {
    margin-top: 10px;
    width: 100% !important;
    height: 200px !important;
    border: 1px solid var(--DividColor);
    border-radius: 6px;
    padding: 5px;
    font-family: inherit;
    font-size: 14px;
    resize: none;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--TextColor1);
}

.commentform .comment_textarea:focus {
    outline: 0;
}

#tbCommentBody:hover {
    border-color: var(--ThemeColor);
}

/* 鎻愪氦璇勮鎸夐挳 */
#btn_comment_submit {
    width: auto;
    height: auto;
    border-width: 0;
    cursor: pointer;
    color: #fff;
    background-color: var(--ThemeColor);
    border-color: var(--ThemeColor);
    user-select: none;
    padding: 5px 20px;
    /*font-size: 12px;*/
    border-radius: 5px;
    transition: color 0.2s linear, background-color 0.2s linear,
        border 0.2s linear, box-shadow 0.2s linear;
}

#btn_comment_submit:hover {
    opacity: 0.7;
}

/* 鎻愮ず鏂囧瓧 */
#comment_form_container p:nth-of-type(3) {
    color: var(--TextColor2);
}

/******** 鐩稿叧鍗氭枃 ************/
#under_post_news {
    background-color: var(--BlockColor);
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

#HistoryToday,
.recomm-block {
    max-width: 100%;
}

.recomm-block b {
    font-size: var(--text6);
    color: var(--TextColor1);
    line-height: 2.4;
    padding: 0;
}

.recomm-block a {
    width: 100%;
}

/********** 鍗氬姝ｆ枃瀹氬埗 **********/
#topics .postDesc {
    color: transparent;
    font-size: 0;
}

#topics .postDesc a:hover {
    color: var(--ThemeColor);
}

#post-date,
#topics .postDesc a,
#post_view_count,
#post_comment_count {
    color: var(--TextColor3);
    font-size: 16px;
    margin-right: 10px;
}

#post-date:before {
    content: '\f017';
    margin-right: 4px;
    font-family: FontAwesome;
}

#topics .postDesc a:nth-child(2):before {
    content: '\f2be';
    margin-right: 4px;
    font-family: FontAwesome;
}

#topics .postDesc #post_view_count:before {
    content: '\f06e';
    margin-right: 4px;
    font-family: FontAwesome;
}

#topics .postDesc #post_comment_count:before {
    content: '\f27b';
    margin-right: 4px;
    font-family: FontAwesome;
}

.post .postBody {
    line-height: 1.7;
    color: var(--TextColor1);
}

.post .postBody h1 {
    font-size: 32px !important;
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    border-bottom: 1px solid var(--DividColor);
    line-height: 1.25;
    padding-bottom: 0.3em;
}

.post .postBody h2 {
    font-size: 24px !important;
    border-bottom: 1px solid var(--DividColor);
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    line-height: 1.25;
    padding-bottom: 0.3em;
}

.post .postBody h3 {
    font-size: 20px !important;
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    line-height: 1.25;
}

.post .postBody h4 {
    font-size: 16px !important;
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    line-height: 1.25;
}

.post .postBody h5 {
    font-size: 14px !important;
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    line-height: 1.25;
}

.post .postBody h6 {
    font-size: 13.6px !important;
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    line-height: 1.25;
}

.post .postBody p {
    margin: 17px auto;
}

.post .postBody blockquote {
    border: none;
    color: #6a737d;
    margin: 20px 0;
    padding: 0 0 0 10px;
    min-height: 20px;
    background: 0 0;
    border-left: 4px solid;
    /*#dfe2e5*/
}

#cnblogs_post_body {
    margin: 20px 0;
}

#cnblogs_post_body blockquote ul li {
    color: #6a737d !important;
}

#cnblogs_post_body img {
    margin: 0 auto;
}

.post .postBody em {
    padding-right: 3px;
}

.post .postBody strong {
    margin: 0 3px;
}

.post .postBody img {
    max-width: 100% !important;
    display: block;
    border-radius: 3px;
}

.post .postBody ol li,
.post .postBody ul li {
    margin: 3px 0;
    font-size: 15px;
}

.post .postBody ol li p,
.post .postBody ul li p {
    margin: 0 !important;
}

#cnblogs_post_body table {
    display: block;
    // padding: 2px;
    width: 100%;
}

.post .postBody table {
    font-size: 15px;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: none !important;
    overflow: auto;
    width: 100%;
    word-break: keep-all !important;
}

.post .postBody table th {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--BackgroundColor) !important;
    white-space: nowrap;
    font-weight: 600;
    border: 1px solid var(--DividColor) !important;
    padding: 8px 16px !important;
}

.post .postBody table tr:nth-child(2n) {
    background-color: var(--BackgroundColor) !important;
}

.post .postBody table tr {
    background-color: var(--BlockColor) !important;
}

.post .postBody table td {
    border: 1px solid var(--DividColor) !important;
    padding: 8px 16px !important;
}

.post .postBody h1 code,
.post .postBody h2 code,
.post .postBody h3 code,
.post .postBody h4 code,
.post .postBody h5 code,
.post .postBody h6 code,
.post .postBody li code,
.post .postBody p code,
.post .postBody table code {
    color: #c7254e;
    line-height: 1;
    font-family: consolas !important;
    vertical-align: middle;
    margin: 0 3px;
    background: var(--BackgroundColor) !important;
    font-size: 14px !important;
    padding: 0.2em 0.3em !important;
    border-radius: 3px !important;
    border: 1px solid var(--DividColor) !important;
}

.post .postBody #BlogPostCategory a {
    margin-left: 5px;
}

.post .postBody #post_next_prev {
    font-size: 16px;
    margin-top: 20px;
    padding-top: 20px;
}

.post .postBody hr {
    background-color: var(--DividColor);
    border: 0;
    height: 0.25em;
    margin: 24px 0;
    padding: 0;
}

#cnblogs_post_body ul ul li {
    list-style-type: circle;
}

#cnblogs_post_body ul ul ul li {
    list-style-type: square !important;
}

.post .postBody ul ul ul {
    list-style-type: square !important;
}

.post .postBody ul ul {
    list-style-type: circle !important;
}

.post .postBody ul {
    list-style-type: disc !important;
}

.cnblogs_code {
    background-color: #f2f4f5;
    padding-left: 1em;
    padding-right: 1em;
    border: none !important;
    border-radius: 3px !important;
    font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono,
        monospace !important;
}

.cnblogs_code div {
    background-color: transparent;
    color: #656c73;
}

.cnblogs_code img {
    margin: 0 !important;
}

.cnblogs_code pre {
    color: #656c73;
    font-family: inherit !important;
}

.cnblogs_code pre span {
    font-family: inherit !important;
    color: inherit !important;
}

.cnblogs_code textarea {
    font-family: inherit !important;
    padding: 5px;
    border: 1px solid #3e4c42;
    color: #c5d4ef;
    background-color: #282c34;
}

.cnblogs_code textarea:focus {
    outline: 0;
}

.cnblogs_code .code_img_closed,
.cnblogs_code .code_img_opened {
    display: none !important;
}

.cnblogs_code .cnblogs_code_toolbar {
    width: 20px;
}

.cnblogs_code .cnblogs_code_toolbar span {
    padding-right: 0;
}

.cnblogs_code .cnblogs_code_toolbar a:link img {
    background-color: transparent !important;
}

.cnblogs_code .cnblogs_code_collapse {
    color: #656c73;
    border: 1px solid #989fa6;
    border-radius: 2px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    padding: 5px 5px 2px 5px;
}

/* markdown 閿洏鍏抽敭瀛� */
kbd {
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    font-size: 0.8em;
    color: #242729;
    background: #fff;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
    white-space: nowrap;
    vertical-align: middle;
}

/********** 浠ｇ爜璇硶楂樹寒 **********/
/***** MATLAB璇硶楂樹寒鏂规 *****/
.matlab .hljs-keyword {
    color: #0000fe;
}

.matlab .hljs-string {
    color: #a020ef;
}

.matlab .hljs-comment {
    color: #228b22;
}

.matlab .hljs-built_in,
.matlab .hljs-function,
.matlab .hljs-title {
    color: var(--TextColor1);
}

/*********** 鍏朵粬浠ｇ爜璇硶楂樹寒 **********/
.cnblogs-markdown .hljs,
.cnblogs-markdown .matlab-code,
.cnblogs_Highlighter pre {
    display: block;
    color: var(--TextColor1);
    border-radius: 4px;
    overflow-x: auto;
    background: var(--BackgroundColor) !important;
    border: none !important;
    font-family: 'Consolas' !important;
    padding: 1em !important;
    font-size: 14px !important;
}

.cnblogs-markdown pre {
    white-space: pre;
}

/*
.hljs-comment,
.hljs-meta {
	color: #969896
}

.hljs-emphasis,
.hljs-quote,
.hljs-string,
.hljs-strong,
.hljs-template-variable,
.hljs-variable {
	color: #df5000
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
	color: #a71d5d
}

.hljs-attribute,
.hljs-bullet,
.hljs-literal,
.hljs-symbol {
	color: #0086b3
}

.hljs-name,
.hljs-section {
	color: #63a35c
}

.hljs-tag {
	color: var(--TextColor1);
}

.hljs-attr,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-title {
	color: #795da3
}

.hljs-addition {
	color: #55a532;
	background-color: #eaffea
}

.hljs-deletion {
	color: #bd2c00;
	background-color: #ffecec
}

.hljs-link {
	text-decoration: underline
}
*/

/*** atom **/
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #383a42;
    background: #fafafa;
}

.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e45649;
}

.hljs-literal {
    color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #4078f2;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

/***********************************************************/
/********** 鑷畾涔塵atlab璇硶楂樹寒 **********/
.matlab-code {
    white-space: pre;
}

.matlab-code .matlab-keyword,
code .matlab-keyword {
    color: #0000fe;
}

.matlab-code .matlab-string,
code .matlab-string {
    color: #a020ef;
}

.matlab-code .matlab-number,
code .matlab-number {
    color: var(--TextColor1);
}

.matlab-code .matlab-bracket,
code .matlab-bracket {
    color: var(--TextColor1);
}

.matlab-code .matlab-comment,
code .matlab-comment {
    color: #228b22;
}

.matlab-code .matlab-comment span,
code .matlab-comment span {
    color: #228b22;
    font-weight: normal;
}

/* 鎻掑叆濯掍綋 */
#cnblogs_post_body .video {
    height: 0;
    margin: 10px auto;
    padding-bottom: 56.25%;
    /* 16:9 */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cnblogs_post_body .video iframe,
#cnblogs_post_body .video video {
    position: absolute;
    /*left: 0;*/
    top: 0;
    border-radius: 4px;
    box-shadow: 6px 11px 41px -28px #a99de7;
    border: 1px solid var(--DividColor);
    width: 98%;
    height: 100%;
    z-index: 0;
}

#cnblogs_post_body .music {
    height: 140px;
    /*padding-bottom: 14.39%;*/
    /* 16:9 */
    position: relative;
    width: 100%;
}

#cnblogs_post_body .music iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* 瑙ｆ瀽瑙嗛 */
.__zy_bounce __zy_animated __zy_infinite {
    display: none;
}

.div-box {
    display: flex;
    height: 40px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.input-url {
    flex: 1;
    padding: 10px;
    outline: none;
    margin-left: 5px;
    background: #fff;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
}

.jiexi {
    /*width: 100px;*/
    background: #3385ff;
    border: 1px solid #3385ff;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0 4px 0 10px;
    height: 40px;
    outline: none;
    color: #fff;
}

.jiexi:hover {
    background-color: #2a6bcc;
}

/* 鎮诞寮忎笅鎷夎彍鍗� */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    z-index: 9999;
    margin-left: 10px;
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    color: black;
    display: block;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: #f1f1f1;
}

/********** 棣栭〉杞挱 **********/
#slideContainer {
    display: block;
}

#slideContainer img {
    max-width: 100% !important;
}

.cl:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cl {
    zoom: 1;
}

.frame {
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
    background: #fff;
}

.title {
    padding: 0 10px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    overflow: hidden;
}

.block {
    margin: 10px 10px 0;
}

.temp {
    margin: 1px;
}

.slideshow {
    clear: both;
}

.slideshow li {
    position: relative;
    overflow: hidden;
}

.slideshow span.title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    line-height: 32px;
    font-size: 16px;
    text-indent: 10px;
}

.slideshow span.title,
.slidebar li {
    background: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#30000000, endColorstr=#30000000);
    color: #fff;
    overflow: hidden;
}

.slidebar li {
    float: left;
    margin-right: 1px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}

.slidebar li.on {
    background: rgba(255, 255, 255, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50FFFFFF, endColorstr=#50FFFFFF);
    color: #000;
    font-weight: 700;
}

.frame {
    background: none;
    border: 0px solid #fff;
    margin-bottom: 0px;
}

.temp {
    margin: 0;
}

.slidebar {
    position: absolute;
    top: 5px;
    left: 4px;
}

.slideshow span.title,
.slidebar li {
    background: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000, endColorstr=#90000000);
    color: #fff;
    overflow: hidden;
}

.slidebar li.on {
    background: rgba(255, 255, 255, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000, endColorstr=#90000000);
    color: #b62525;
    font-weight: 700;
}

.slideshow span.title {
    text-indent: 0px;
}

.block {
    margin: 0;
    position: relative;
}

#frameHlicAe {
    margin: 0px !important;
    border: 0px !important;
}

.comiis_wrap960,
.comiis_wrapad {
    margin: 0 auto;
    background-color: var(--BlockColor);
    border-radius: 4px;
}

.comiis_wrapad {
    padding: 20px;
    margin-bottom: 20px;
}

.comiis_wrapad {
    overflow: hidden;
}

.comiis_wrapad img {
    float: left;
    margin-top: 0px;
    width: 100%;
}

#slidesImgs li {
    width: 100%;
    height: auto;
    display: none;
}

// 新增
#cnblogs_post_body pre {
    padding-bottom: 0 !important;
}
#comment_form {
    position: relative;
    #divCommentShow,
    #ad_text_under_commentbox,
    #comment_nav {
        display: none;
    }
    #comment_form_container {
        position: relative;
        border-radius: 3px;
        & > p:nth-of-type(3),
        & > a:first-of-type {
            display: none;
        }
        & > p:last-of-type {
            color: var(--text-9);
            margin-left: 10.8px;
            font-size: 14px;
        }
        #commentform_title {
            background: none;
            margin-bottom: 0;
            padding: 7.56px 10.8px;
            background-color: var(--color-basic-75);
            border-radius: 2px 2px 0 0;
            font-size: 12px;
            font-weight: 700;
            color: var(--color-basic-900);
        }
        .comment_textarea {
            padding: 0;
            width: 100%;
            border-color: var(--text-9);
            background: none;
            border: none;
            .commentbox_title {
                border-bottom: none;
            }
            .commentbox_title_left {
                display: none;
            }
            .commentbox_title_right {
                transform: translateY(10px);
            }
            #tbCommentBody {
                margin-bottom: 10.8px !important;
                height: 81px;
                min-height: 135px;
                color: var(--color-basic-800);
                background: none;
                font-size: 16px;
            }
        }
        #commentbox_opt {
            & > a {
                display: none;
            }
            #btn_comment_submit {
                position: absolute;
                bottom: 10.8px;
                right: 10.8px;
                width: 75.6px;
                height: 32.4px;
                color: var(--text-a);
                border-radius: 4px;
                border: none;
                background-color: #00a1d6;
                user-select: none;
                outline: none;
                cursor: pointer;
                font-size: 12px;
                &:hover {
                    background-color: var(--themeColor);
                    transition: background-color 0.3s;
                }
            }
        }
        #tip_comment2 {
            display: none;
        }
    }
}

#cnblogs_post_body code {
    padding: 0.2em 0.3em !important;
}
/* add */
#bannerbar,
#top_nav {
    display: none;
}
