::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--geek-color-3);
}

::-webkit-scrollbar-thumb {
  background: var(--geek-color-4);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--geek-color-6);
}
