:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    text-rendering: optimizelegibility;
}

body {
  @apply bg-background
    text-foreground
    font-sans
    motion-safe:scroll-smooth
    dark:bg-neutral-950
    dark:text-white;
}

#top_nav,
#home,
#imagebar {
  @apply hidden;
}
