@import 'style/hideAds.scss';
@import url('//unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css');
@import url(https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css);
@import url(https://cdn.bootcss.com/fancybox/3.5.7/jquery.fancybox.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.3/css/mdui.min.css);
@import url(https://blog-static.cnblogs.com/files/gshang/notiflix-2.0.0.min.css);
@import url(https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/css/all.min.css);

// Post CSS Invalid
// postcss-import: Invalid import media statement
// @import url('//unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css');
// @import url(https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css)
//     screen and (min-width: 0px);
// @import url(https://cdn.bootcss.com/fancybox/3.5.7/jquery.fancybox.css) screen
//     and (min-width: 0px);
// @import url(//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.3/css/mdui.min.css) screen
//     and (min-width: 0px);
// @import url(https://blog-static.cnblogs.com/files/gshang/notiflix-2.0.0.min.css)
//     screen and (min-width: 0px);
// @import url(https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/css/all.min.css);

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
.c_ad_block,
#ad_t2,
#under_post_news {
    display: none;
}

/************ 顶部导航栏 ************/
#bannerbar {
    display: none;
}
#top_nav {
    height: 60px;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
#nav_left {
    padding: 0;
    margin: 0;
}
.navbar-custom {
    display: block;
}

#nav_main {
    /* max-width: 1200px; */
    /* margin: 0 40px; */
    padding: 0 40px;
    height: 60px !important;
    font-size: 16px;
}
#nav_left li {
    margin: 0;
}
#nav_left li a {
    display: block;
    line-height: 60px;
    height: 60px;
    padding: 0 10px;
}
#nav_left li a:hover {
    background: #f0f0f5;
}
.navbar-branding a {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.navbar-branding a:hover {
    background: white !important;
}
.navbar-branding img {
    display: block;
    max-height: 40px !important;
    height: 30px !important;
    margin: 0 auto;
}

.navbar-search {
    display: flex;
    width: 300px !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 30px;
    background: transparent !important;
}

.navbar-search input {
    border: 1px solid #e8e8ed !important;
    height: 30px;
    border-radius: 4px 0 0 4px;
    padding: 0 0 0 10px;
    flex: 1;
}

.navbar-search button {
    background: #ff4d4d !important;
    border: 1px solid #ff4d4d !important;
    height: 30px;
    width: 40px;
    border-radius: 0 4px 4px 0;
}

.navbar-search button:hover {
    background: #d84242 !important;
    border: 1px solid #d84242 !important;
    transition: all 500ms;
}

.navbar-search img {
    filter: brightness(300%) !important;
    width: 16px !important;
}
a.dropdown-button {
    /* display: block; */
    /* width: 60px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 58px;
}
.dropdown-menu {
    background-color: white !important;
    border-radius: 4px !important;
    width: fit-content;
    padding: 0 !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05) !important;
}
.dropdown-menu a:first-child {
    margin-top: 6px !important;
}
.dropdown-menu a:last-child {
    margin-bottom: 6px !important;
}
.dropdown-menu a {
    display: block !important;
    margin: 0 !important;
    padding: 4px 20px !important;
    width: 100%;
    /* height:28px; */
    line-height: 28px;
}

.dropdown-menu a:hover {
    text-decoration: none !important;
    background: #f0f0f5;
    transition: all 500ms;
}

/************* 主界面 *********************/

#home {
    /* max-width:1200px; */
    margin: 0 auto;
    background: #f5f6f7;
    overflow: hidden;
}

/****** header *********/
#header {
    display: flex;
    flex-wrap: wrap;
    max-width: 1366px;
    width: 100%;
    padding: 20px;
    /* background:#232e3c; */
    background: url(https://images.cnblogs.com/cnblogs_com/ctgu/1702052/o_210101094536bg-title.png)
        no-repeat center;
    background-size: auto 100%;
    margin: 0 auto;
    position: relative;
    /* border-radius:4px; */
}

@media screen and (min-width: 768px) {
    #header:before {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        display: block;
        content: '';
        background: #232e3c;
        width: 100%;
    }

    #header:after {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100%;
        display: block;
        content: '';
        background: #232e3c;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #header {
        flex-direction: column;
    }
    #navigator {
        align-items: center !important;
    }
    #blogTitle {
        text-align: center;
    }
    #sideBar,
    #top_nav {
        display: none !important;
    }
    #mainContent {
        margin: 10px 0 !important;
    }
}

#lnkBlogLogo {
    display: none;
}

#header h1,
#header h2 {
    text-decoration: none;
    font-size: inherit;
    font-weight: normal;
    font-size: medium;
    color: #fff;
}

#header h1 a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

#navigator {
    display: flex;
    flex: 1;
    align-items: flex-end;
    flex-direction: column-reverse;
}

#navList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navList a {
    display: block;
    padding: 6px 10px;
    background: #fff;
    margin: 0 0 0 10px;
    text-decoration: none;
    border-radius: 4px;
    color: #666;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

#navList a:hover {
    background: #fdfdfd;
    transition: all 300ms;
}

.blogStats {
    color: #fefefe;
    margin: 20px 10px !important;
}

/****** main *********/
#main {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}
@media screen and (max-width: 1366px) {
    #main,
    #header {
        max-width: 1166px !important;
    }
}

/******** footer ********/
#footer {
    background: #232e3c;
    color: #9fa0a7;
    text-align: center;
    padding: 40px 0;
}

/****** sidebar ******/

#sideBarMain {
    width: 300px;
    margin: 10px 0 10px 10px;
}

.sidebar-block,
#sidebar_news,
#blog-calendar {
    background: white;
    /* padding: 12px 16px 16px 16px; */
    margin-bottom: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.catListTitle {
    position: relative;
    padding: 0 16px;
    margin: 0;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.sidebar-block ul,
#sidebar_search_box,
#blog-news,
#blogCalendar {
    list-style-type: none;
    margin: 0;
    padding: 12px 16px 16px 16px;
}

.sidebar-block ul li {
    font-size: 14px;
    margin-top: 8px;
    display: block;
    word-wrap: break-word;
    color: #555666;
}

/************/
#mainContent {
    margin: 10px;
    padding: 0 !important;
    flex: 1;
    max-width: calc(100% - 330px);
}

/* 设置首页每日博文 */
@media screen and (min-width: 0px) {
    .day {
        margin-bottom: 1px;
        padding: 12px 24px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
    }

    .day .postSeparator {
        margin: 10px 0 10px 0;
        border-bottom: 1px solid #e9eaeb;
    }

    .day .dayTitle,
    .day .c_b_p_desc_readmore {
        display: none;
    }

    .day .postTitle2 {
        word-break: break-all;
        color: #3d3d3d;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        text-decoration: none;
        /* padding-bottom: 20px; */
    }

    .day .postTitle2:hover {
        color: #ca0c16;
    }

    .day .c_b_p_desc {
        font-size: 14px;
        color: #6b6b6b;
    }

    .day .postDesc,
    .day .postDesc a {
        color: #999;
        font-size: 13px;
        padding-top: 4px;
        text-decoration: none;
    }

    .day .desc_img {
        height: 110px;
        margin: 0px 10px 10px 0;
        width: 190px;
        float: left;
        order: -1;
        object-fit: cover;
        border-radius: 4px;
    }

    .day .postCon {
        margin-top: 10px;
    }
}

/* 设置首页每日博文自适应 */
@media screen and (max-width: 767px) {
    .day .desc_img {
        max-width: 100% !important;
        width: 100% !important;
        height: auto;
        /*margin: 10px 0px !important;*/
    }

    .day .c_b_p_desc {
        display: grid;
    }

    .day .postDesc {
        display: none;
    }
}

/****************************************************************/

/* 设置翻页 */
@media screen and (min-width: 0px) {
    #homepage_top_pager,
    #homepage_bottom_pager,
    .topicListFooter {
        margin: 0;
    }

    .pager,
    #nav_next_page {
        margin: 0 0 1px 0;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_next_page a {
        line-height: 3;
        color: #333;
        text-decoration: none;
    }

    #nav_next_page a:hover {
        color: #ca0c16;
    }

    .pager {
        line-height: 3;
        color: #333;
    }

    .pager a {
        line-height: 3;
        color: #333;
        text-decoration: none;
        padding: 4px 8px;
        border: none;
        margin: 0;
        white-space: nowrap;
        background-color: #f5f6f7;
    }

    .pager a:hover {
        background-color: #f9ecec;
    }
}

/****************************************************************/

/****************************************************************/

/* 设置博文主页布局*/
@media screen and (min-width: 0px) {
    #topics {
        background-color: #fff;
        color: #4d4d4d;
        padding: 0 24px 16px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    .postBody {
        padding: 0 !important;
    }

    #cnblogs_post_body img {
        max-width: 100%;
    }

    #topics .postTitle {
        margin: 0;
        padding: 20px 0;
    }

    #topics #cb_post_title_url {
        font-size: 24px;
        color: #333;
        text-decoration: none;
        word-wrap: break-word;
    }

    #topics .post {
        display: grid;
        grid-template-columns: 100%;
    }

    #topics .postBody {
        order: 1;
    }

    #topics .postDesc {
        padding-bottom: 14px;
        border-bottom: 1px solid #f5f6f7;
        color: transparent;
        font-size: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #topics .postDesc a:nth-child(2) {
        font-size: 14px;
        color: #78a5f1;
        margin-right: 14px;
        text-decoration: none;
        order: -1;
    }

    #topics .postDesc #post-date:before {
        content: '发布于';
        font-size: 14px;
        color: #858585;
    }

    #topics .postDesc #post-date {
        font-size: 14px;
        color: #858585;
        /* flex: auto; */
        margin-right: 10px;
    }

    #topics .postDesc #post_comment_count:before {
        content: '评论数';
        font-size: 14px;
        color: #858585;
    }

    #topics .postDesc #post_comment_count {
        font-size: 14px;
        color: #858585;
        flex: auto;
        margin-right: 10px;
    }

    #topics .postDesc #post_view_count:before {
        content: '阅读数';
        font-size: 14px;
        color: #858585;
    }

    #topics .postDesc a:nth-child(5):before {
        content: '\f040';
        font-family: FontAwesome;
        font-size: 14px;
        line-height: 18px;
        color: #ff700a;
        text-decoration: none;
        margin-right: 4px;
    }

    #topics .postDesc a:nth-child(5) {
        font-size: 14px;
        text-decoration: none;
        color: #ff700a;
        /* flex: auto; */
        margin-right: 10px;
    }

    #topics .postDesc a:nth-child(6):before {
        content: '\f006';
        font-family: FontAwesome;
        font-size: 14px;
        line-height: 18px;
        color: #ff700a;
        font-weight: 700;
        text-decoration: none;
        margin-right: 4px;
    }

    #topics .postDesc a:nth-child(6) {
        font-size: 14px;
        text-decoration: none;
        color: #ff700a;
        /* flex: auto; */
    }

    #topics .postDesc #post_view_count {
        font-size: 14px;
        color: #858585;
        /* flex: auto; */
        margin-right: 10px;
    }
}

/****************************************************************/
/*设置博文markdown基本样式 */
@media screen and (min-width: 0px) {
    .cnblogs-markdown p {
        font-size: 16px;
        color: #4d4d4d;
        font-weight: 400;
        line-height: 26px;
        margin: 0 0 16px;
    }

    .cnblogs-markdown blockquote {
        display: block;
        padding: 16px;
        margin: 0 0 24px;
        border: none;
        border-left: 8px solid #dddfe4;
        background: #eef0f4;
        overflow: auto;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    .cnblogs-markdown blockquote p {
        font-size: 14px;
        line-height: 22px;
        color: #999;
        font-weight: 400;
        margin-bottom: 0;
    }

    .cnblogs-markdown a {
        color: #4ea1db;
        text-decoration: none;
    }

    .cnblogs-markdown code {
        color: #c7254e;
        background-color: #f9f2f4 !important;
        border-radius: 2px !important;
        border: none !important;
        line-height: 1.8;
        font-family: inherit !important;
        font-size: inherit !important;
    }

    .cnblogs-markdown table {
        margin-bottom: 24px;
    }

    .cnblogs-markdown table tr th,
    .cnblogs-markdown table tr:nth-child(2n) {
        background-color: #eff3f5 !important;
    }

    .cnblogs-markdown table tr th,
    .cnblogs-markdown table td {
        border: 1px solid #ddd !important;
    }

    .cnblogs-markdown hr {
        margin: 24px 0;
        border: none;
        border-bottom: 1px solid #ddd;
    }
}

/*博文分类、标签*/
@media screen and (min-width: 0px) {
    #BlogPostCategory a,
    #EntryTag a {
        color: #333;
        text-decoration: none;
        border: 1px solid #666;
        padding: 3px 8px;
        font-size: 12px;
        margin: 0 4px;
        border-radius: 12px;
    }

    #BlogPostCategory a:hover,
    #EntryTag a:hover {
        color: #ca0c16;
        border-color: #ca0c16;
    }
}

/****************************************************************/
/*设置博文代码块样式 */
@media screen and (min-width: 0px) {
    .cnblogs-markdown pre {
        position: relative;
        padding: 0.8em;
        background-color: #282c34;
        color: #abb2bf;
        border-radius: 4px;
    }

    .cnblogs-markdown kbd {
        display: inline-block !important;
        padding: 3px 5px !important;
        font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
        line-height: 10px !important;
        color: #444d56 !important;
        vertical-align: middle !important;
        background-color: #fafbfc !important;
        border: 1px solid #d1d5da !important;
        border-radius: 3px !important;
        box-shadow: inset 0 -1px 0 #d1d5da !important;
    }

    .cnblogs-markdown pre code {
        background-color: #282c34 !important;
    }

    .cnblogs-markdown pre .hljs {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #abb2bf !important;
        background: #282c34;
        font-size: 14px !important;
        line-height: 22px !important;
        font-family: Source Code Pro, DejaVu Sans Mono, Ubuntu Mono,
            Anonymous Pro, Droid Sans Mono, Menlo, Monaco, Consolas, Inconsolata,
            Courier, monospace, PingFang SC, Microsoft YaHei, sans-serif !important;
    }
}
@media screen and (min-width: 0px) {
    .cnblogs-markdown .hljs,
    .cnblogs-post-body .hljs {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #abb2bf;
    }

    .cnblogs-markdown .hljs-comment,
    .cnblogs-markdown .hljs-quote,
    .cnblogs-post-body .hljs-comment,
    .cnblogs-post-body .hljs-quote {
        color: #5c6370;
        font-style: italic;
    }

    .cnblogs-markdown .hljs-doctag,
    .cnblogs-markdown .hljs-formula,
    .cnblogs-markdown .hljs-keyword,
    .cnblogs-post-body .hljs-doctag,
    .cnblogs-post-body .hljs-formula,
    .cnblogs-post-body .hljs-keyword {
        color: #c678dd;
    }

    .cnblogs-markdown .hljs-deletion,
    .cnblogs-markdown .hljs-name,
    .cnblogs-markdown .hljs-section,
    .cnblogs-markdown .hljs-selector-tag,
    .cnblogs-markdown .hljs-subst,
    .cnblogs-post-body .hljs-deletion,
    .cnblogs-post-body .hljs-name,
    .cnblogs-post-body .hljs-section,
    .cnblogs-post-body .hljs-selector-tag,
    .cnblogs-post-body .hljs-subst {
        color: #e06c75;
    }

    .cnblogs-markdown .hljs-literal,
    .cnblogs-post-body .hljs-literal {
        color: #56b6c2;
    }

    .cnblogs-markdown .hljs-addition,
    .cnblogs-markdown .hljs-attribute,
    .cnblogs-markdown .hljs-meta-string,
    .cnblogs-markdown .hljs-regexp,
    .cnblogs-markdown .hljs-string,
    .cnblogs-post-body .hljs-addition,
    .cnblogs-post-body .hljs-attribute,
    .cnblogs-post-body .hljs-meta-string,
    .cnblogs-post-body .hljs-regexp,
    .cnblogs-post-body .hljs-string {
        color: #98c379;
    }

    .cnblogs-markdown .hljs-built_in,
    .cnblogs-markdown .hljs-class .hljs-title,
    .cnblogs-post-body .hljs-built_in,
    .cnblogs-post-body .hljs-class .hljs-title {
        color: #e6c07b;
    }

    .cnblogs-markdown .hljs-attr,
    .cnblogs-markdown .hljs-number,
    .cnblogs-markdown .hljs-selector-attr,
    .cnblogs-markdown .hljs-selector-class,
    .cnblogs-markdown .hljs-selector-pseudo,
    .cnblogs-markdown .hljs-template-variable,
    .cnblogs-markdown .hljs-type,
    .cnblogs-markdown .hljs-variable,
    .cnblogs-post-body .hljs-attr,
    .cnblogs-post-body .hljs-number,
    .cnblogs-post-body .hljs-selector-attr,
    .cnblogs-post-body .hljs-selector-class,
    .cnblogs-post-body .hljs-selector-pseudo,
    .cnblogs-post-body .hljs-template-variable,
    .cnblogs-post-body .hljs-type,
    .cnblogs-post-body .hljs-variable {
        color: #d19a66;
    }

    .cnblogs-markdown .hljs-bullet,
    .cnblogs-markdown .hljs-link,
    .cnblogs-markdown .hljs-meta,
    .cnblogs-markdown .hljs-selector-id,
    .cnblogs-markdown .hljs-symbol,
    .cnblogs-markdown .hljs-title,
    .cnblogs-post-body .hljs-bullet,
    .cnblogs-post-body .hljs-link,
    .cnblogs-post-body .hljs-meta,
    .cnblogs-post-body .hljs-selector-id,
    .cnblogs-post-body .hljs-symbol,
    .cnblogs-post-body .hljs-title {
        color: #61aeee;
    }

    .cnblogs-markdown .hljs-emphasis,
    .cnblogs-post-body .hljs-emphasis {
        font-style: italic;
    }

    .cnblogs-markdown .hljs-strong,
    .cnblogs-post-body .hljs-strong {
        font-weight: 700;
    }

    .cnblogs-markdown .hljs-link,
    .cnblogs-post-body .hljs-link {
        text-decoration: underline;
    }

    .cnblogs-markdown .hljs-tag,
    .cnblogs-post-body .hljs-tag {
        color: #abb2bf;
    }
}

/****************************************************************/
/*设置博文互动样式 */
@media screen and (min-width: 0px) {
    #blog_post_info {
        display: grid;
    }

    #green_channel {
        border: none;
        width: 100%;
        text-align: start;
        font-size: inherit;
        border-bottom: 1px solid #f5f6f7;
    }

    #green_channel a {
        /* background: url(); */
        text-shadow: none;
        /* -webkit-box-shadow: none; */
        font-weight: normal;
        font-size: 0;
    }

    #green_channel a:link {
        color: #333 !important;
    }

    #green_channel_digg,
    #green_channel_follow,
    #green_channel_favorite,
    #green_channel_weibo,
    #green_channel_wechat {
        background-color: #f5f6f7 !important;
        padding: 6px 14px 6px 14px !important;
        border-radius: 0 !important;
        margin: 10px 0;
    }

    #green_channel_digg:hover,
    #green_channel_follow:hover,
    #green_channel_favorite:hover {
        background-color: #f9f2f4 !important;
    }

    #green_channel_digg:before {
        content: '\f087'' 点赞';
        font-family: FontAwesome;
        font-size: 16px;
    }

    #green_channel_follow:before {
        content: '\f08a '' 关注';
        font-family: FontAwesome;
        font-size: 16px;
    }

    #green_channel_favorite:before {
        content: '\f006 '' 收藏';
        font-family: FontAwesome;
        font-size: 16px;
    }

    #green_channel_weibo img,
    #green_channel_wechat img {
        width: 0 !important;
        height: 0 !important;
    }

    #green_channel_weibo:before {
        content: '\f18a'' 微博';
        font-family: FontAwesome;
        font-size: 16px;
    }

    #green_channel_wechat:before {
        content: '\f1d7 '' 微信';
        font-family: FontAwesome;
        font-size: 16px;
    }
}

/* 设置博文互动自适应 */
@media screen and (max-width: 767px) {
    #green_channel {
        text-align: center;
        width: 100% !important;
    }
}

/****************************************************************/
/*设置博博主信息样式 */
@media screen and (min-width: 0px) {
    #author_profile {
        width: 100%;
        display: inline-flex;
        box-sizing: border-box !important;
        height: 50px !important;
        padding: 0;
    }

    #author_profile_info {
        flex: auto;
    }

    #author_profile_info a:hover {
        text-decoration: none;
    }

    #author_profile_follow {
        float: right;
        line-height: 50px;
    }

    #author_profile_follow a {
        border-radius: 4px;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        background-color: #ca0c16;
    }

    #author_profile_follow a:hover {
        text-decoration: none;
        background-color: #b30c15;
    }

    #author_profile_info .author_avatar {
        margin: 0;
        padding: 0;
        border-radius: 50%;
        float: left;
    }

    .author_profile_info .author_profile_info {
        margin-left: 20px;
        width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
    }

    .author_profile_info a {
        color: #333;
        text-decoration: none;
    }

    .author_profile_info .author_profile_info br {
        display: none;
    }

    .author_profile_info .author_profile_info a:nth-child(1) {
        color: #3d3d3d;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        margin-bottom: 6px;
        float: left;
        width: 100%;
    }

    .author_profile_info .author_profile_info a:nth-child(n + 2) {
        color: #6b6b6b;
        font-size: 14px;
        margin-right: 10px;
        line-height: 20px;
    }

    /*********************/
    #div_digg {
        margin: 0 auto;
        text-align: center;
        width: auto !important;
        order: -1;
    }

    .diggit,
    .buryit {
        /* background: url(); */
        height: auto;
        margin: 0 10px;
        width: auto;
        padding: 0;
        line-height: 50px;
        /* display: inline-flex; */
        float: none !important;
    }

    .buryit {
        display: none;
    }

    .buryit span:before {
        content: '反对 ';
        font-family: FontAwesome;
        font-size: 16px;
    }

    .diggit span:before {
        content: '支持 ';
        font-family: FontAwesome;
        font-size: 12px;
    }

    .diggit span,
    .buryit span {
        color: #fff;
        /* border: 1px solid #ca0c16 !important; */
        padding: 9px;
        display: inline-block;
        font-size: 12px;
        border-radius: 4px;
        text-align: center;
        background-color: #ca0c16;
        /* line-height: 50px; */
    }

    .diggit span:hover,
    .buryit span:hover {
        background-color: #b31119 !important;
    }
}

@media screen and (max-width: 767px) {
    #author_profile {
        width: 100%;
    }

    #div_digg {
        /* display: none; */
    }

    #div_digg {
        text-align: center;
    }

    .diggit,
    .buryit {
        float: none !important;
    }
}

/* 上下一篇博文*/
@media screen and (min-width: 0px) {
    #post_next_prev {
        margin-top: 20px;
    }

    #post_next_prev a {
        color: #333;
        text-decoration: none;
    }

    #post_next_prev a:hover {
        color: #ca0c16;
    }
}

/* 评论板块 */
@media screen and (min-width: 0px) {
    .login_tips {
        margin-top: 0 !important;
        padding: 20px 0 0 0 !important;
        /* background-image: url(); */
        text-align: center;
    }

    .login_tips a {
        color: #ca0c16;
        text-decoration: none !important;
    }

    #blog-comments-placeholder,
    #comment_form {
        background-color: #fff;
        margin: 0 0 1px 0;
        padding: 20px 24px 20px;
        height: auto;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    .feedbackItem {
        margin-top: 12px;
        border-bottom: 1px dashed #e0e0e0;
        position: relative;
    }

    .comment_vote {
        position: absolute;
        right: 0;
        top: 0;
    }

    .feedbackListSubtitle {
        display: flex;
        position: relative;
        line-height: 22px;
        font-size: 12px;
        color: #999;
    }

    .layer {
        order: 1;
        color: #999;
        text-decoration: none;
        margin: 0 16px;
    }

    .feedbackItem .feedbackListSubtitle a:last-child {
        color: #333;
        font-weight: 700;
        font-size: 14px;
        margin: 0 16px 0 0;
        text-decoration: none;
        order: -2;
    }

    .comment_date {
        margin-left: 16px;
    }

    .blog_comment_body {
        margin: 10px 0;
        color: #4d4d4d;
        font-size: 14px;
        vertical-align: top;
    }

    .comment_burry {
        display: none;
    }

    .comment_digg {
        font-size: 14px;
        color: #333;
        line-height: 22px;
    }

    .comment_digg:before {
        content: '\f087';
        font-family: FontAwesome;
        margin-right: 0px;
        margin-left: 10px;
        font-size: 16px;
    }

    .feedbackManage {
        float: right;
        position: absolute;
        right: 60px;
        top: 0;
    }

    .feedbackManage a {
        text-decoration: none;
        font-weight: normal !important;
        font-size: 14px;
        line-height: 22px;
        color: #79a5e5 !important;
    }

    #comment_nav #comment_form_container p:nth-child(4),
    #comment_form_container p:nth-child(8) {
        display: none;
    }

    .commentbox_main {
        display: grid;
    }

    .commentbox_title {
        /* order: 1; */
    }

    .commentbox_footer {
        display: none;
    }

    .comment_textarea {
        display: block;
        width: 100% !important;
        /* margin-top: 20px !important; */
        padding: 7px 8px;
        background: #fff;
        border: 1px solid #c1c1c1;
        border-radius: 4px;
        resize: none;
        min-height: 200px !important;
        font-size: 14px;
        line-height: 22px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: height 0.3s ease-in-out;
        transition: height 0.3s ease-in-out;
        outline: none;
    }

    .commentbox_title {
        padding: 10px 0;
    }

    #commentbox_opt {
        /* float: right; */
        text-align: start;
        /* margin-top: -30px; */
        /* position: absolute; */
    }

    #commentbox_opt a {
        color: #333;
        text-decoration: none;
    }

    #btn_comment_submit {
        color: #fff !important;
        border: 1px solid #ca0c16 !important;
        background-color: #ca0c16 !important;
        border-radius: 4px;
        line-height: 28px;
        height: auto;
        width: auto;
        padding: 2px 8px;
    }

    .comment_my_posted {
        line-height: 22px;
        padding-top: 20px;
    }

    .comment_my_posted a {
        color: #333;
        text-decoration: none;
    }

    .bq_post_comment {
        border: none;
        padding: 10px 0;
    }
}

@media screen and (max-width: 767px) {
    .feedbackListSubtitle {
        font-size: 0px !important;
    }
}

/* 侧边栏公告*/
@media screen and (min-width: 0px) {
    #p_b_follow {
        background: linear-gradient(
            92deg,
            #ffba40 0%,
            #ff503e 37%,
            #ff2f50 81%,
            #ff1b40 100%
        );
        line-height: 2;
        margin: 10px 0;
        border-radius: 20px;
        text-align: center;
    }

    #p_b_follow a {
        padding: 10px 0;
        color: #fff;
    }
}

/* 日历板块 */
@media screen and (min-width: 0px) {
    .CalTitle,
    .CalTitle a,
    .CalDayHeader {
        color: #333;
        font-weight: bold;
        line-height: 2.8;
    }

    .CalOtherMonthDay,
    .CalWeekendDay {
        line-height: 2;
    }

    .CalOtherMonthDay {
        color: #999;
    }

    #blogCalendar a {
        text-decoration: none !important;
    }

    #blogCalendar u {
        color: #ca0c16;
        font-weight: bold;
    }
}

/* 侧边评论板块 */
@media screen and (min-width: 0px) {
    .recent_comment_body {
        color: #999;
    }
}

/* 侧边搜索板块 */
@media screen and (min-width: 0px) {
    .div_my_zzk {
        display: flex;
    }

    .input_my_zzk {
        flex: 1;
    }
}

/* 随笔分类 */
@media screen and (min-width: 0px) {
    .entrylistTitle {
        padding: 12px 24px;
        font-size: 20px;
        margin: 0;
        color: #333;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    .entrylistDescription {
        margin: 0;
        color: #333;
        padding: 12px 24px;
        background-color: #fff;
        margin-bottom: 1px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    .entrylistItem {
        margin-bottom: 1px;
        padding: 12px 24px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
    }

    .entrylistItem .entrylistPosttitle a {
        word-break: break-all;
        color: #3d3d3d;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        text-decoration: none;
    }

    .entrylistPostSummary .c_b_p_desc {
        margin-top: 10px;
    }

    .entrylistItem .entrylistPostSummary {
        font-size: 14px;
        color: #6b6b6b;
    }

    .entrylistItem .entrylistItemPostDesc,
    .entrylistItem .entrylistItemPostDesc a {
        color: #999;
        font-size: 13px;
        padding-top: 4px;
        text-decoration: none;
    }

    .entrylistItem .c_b_p_desc_readmore {
        display: none;
    }

    .entrylistPostSummary img {
        height: 110px;
        margin: 0px 10px 10px 0;
        width: 190px;
        float: left;
        order: -1;
        object-fit: cover;
        border-radius: 4px;
        max-height: 200px;
    }
}

@media screen and (max-width: 767px) {
    .entrylistPostSummary .c_b_p_desc {
        display: grid;
    }

    .entrylistPostSummary img {
        max-width: 100% !important;
        width: 100% !important;
        height: auto;
        margin: 0 0 10px 0 !important;
    }

    .entrylistItem .entrylistItemPostDesc {
        display: none;
    }
}

/*************************/
/* 标签 */
@media screen and (min-width: 0px) {
    .PostListTitle {
        padding: 12px 24px;
        font-size: 20px;
        margin: 0;
        color: #333;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    #myposts {
        margin: 0;
    }

    #myposts .PostList {
        padding: 12px 24px;
        /* display: inline-flex; */
        /* height: auto; */
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
        margin: 0 0 1px 0;
    }

    .PostList .postTitl2 {
        display: inline-flex;
    }

    .PostList .postTitl2 a {
        font-size: 14px;
        color: #333;
        text-decoration: none;
    }

    .PostList .postDesc2 {
        float: right;
    }
}

/* 相册 */
@media screen and (min-width: 0px) {
    .gallery .thumbTitle {
        padding: 12px 24px;
        font-size: 20px;
        margin: 0;
        color: #333;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    .gallery .thumbDescription {
        margin: 0;
        color: #333;
        padding: 12px 24px;
        background-color: #fff;
        margin-bottom: 1px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    #GalleryThumbNailViewer1_ThumbNails {
        margin-bottom: 1px;
        padding: 12px 24px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
    }

    #GalleryThumbNailViewer1_ThumbNails td {
        width: 25%;
        padding: 10px;
    }

    #GalleryThumbNailViewer1_ThumbNails td img {
        width: 100% !important;
        height: auto !important;
    }
}

/***********/
.div_my_zzk {
    font-size: 0;
}
.input_my_zzk {
    font-size: 14px;
    color: #555666;
    display: block;
    float: left;
    width: 226px;
    padding-left: 16px;
    border: 0;
    height: 32px;
    border-radius: 5px 0 0 5px;
    background: #f0f0f5;
    outline: none;
}

#comment_nav,
#commentform_title {
    display: none;
}

.btn_my_zzk {
    height: 32px !important;
    margin: 0px !important;
    background-color: #eaeaea;
    border: none;
    border-radius: 0 5px 5px 0;
}
