body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue,
        PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    cursor: pointer;
}

a,
a:hover,
a:link,
a:visited {
    text-decoration: none !important;
}

ol,
ul {
    list-style: none;
}

::selection {
    background: var(--themeColor, #00a1d6);
    color: var(--color-basic-50, #fff);
}

.fireworks {
    display: none;
}
