@media screen and (max-width: 767px) {
    .postBody {
        padding: 0;
    }
    img {
        max-width: 100% !important;
    }
    div.commentform textarea {
        width: 100%;
        height: 144.018px;
    }
    #header {
        overflow: auto;
        word-break: keep-all;
        padding-left: 2vw !important;
        width: 100%;
        &::after {
            position: fixed;
        }
    }
    #main {
        padding-top: 65px;
        #mainContent {
            width: 96vw;
        }
    }
    .forFlow {
        #comment_form {
            padding: 0;
        }
    }
    .forFlow #blog-comments-placeholder.comment_vote,
    #topics .postDesc,
    .postDesc a:last-child,
    #custom-post-btn #div_digg,
    #author_profile,
    #header #navigator .blogStats,
    ::-webkit-scrollbar {
        display: none;
    }
    .postBody ul li {
        padding-top: 7.182px;
    }
    #mainContent {
        width: 95%;
    }
    #green_channel a:nth-child(1),
    #green_channel a:nth-child(2),
    #green_channel a:nth-child(3) {
        margin: 3px !important;
    }
    #green_channel #green_channel_weibo,
    #green_channel #green_channel_wechat {
        margin: 3px !important;
        padding: 0;
    }
    #div_digg {
        margin-top: 10px !important;
    }
    .entrylistPosttitle,
    .postTitle {
        font-size: 18px !important;
    }
    .commentbox_title {
        margin-bottom: 5.4px;
    }
    #btn_comment_submit {
        bottom: -5.4px;
        padding: 0 10.8px;
        width: auto !important;
    }
    .feedbackCon .blog_comment_body {
        max-width: 324px;
    }
    .forFlow
        #blog-comments-placeholder
        .feedbackListSubtitle {
        font-size: 12px;
        line-height: 2em;
    }
    .forFlow #blog-comments-placeholder .comment_date {
        overflow: hidden;
        white-space: nowrap;
    }
    .forFlow
        #blog-comments-placeholder
        .feedbackListSubtitle
        > a:last-of-type {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #sideBar {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100vw;
        max-width: 100vw;
        background-color: var(--background-w);
        overflow-y: scroll;
        // clip-path: circle(30px at calc(100%) 100%);
        z-index: 12;
        #sidebar_news {
            margin-bottom: 0;
            border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
        }
        #blog-calendar,
        #sidebar_news,
        #sidebar_postarchive,
        #sidebar_postcategory,
        #sidebar_recentcomments,
        #sidebar_recentposts,
        #sidebar_scorerank,
        #sidebar_search,
        #sidebar_shortcut,
        #sidebar_topcommentedposts .catListFeedback,
        #sidebar_toptags,
        #sidebar_topviewedposts .catListView,
        #topdigg_posts_wrap .catListView {
            margin-bottom: 0;
        }
        #blogCalendar tr:not(:nth-child(1)) td {
            width: 43.2px;
            height: 43.2px;
        }
    }
    // 分页器
    .topicListFooter {
        padding: 0;
    }
    .topicListFooter {
        .pager {
            a {
                padding: 2px 10px;
            }
        }
    }
}
