$md: (
    linkColor: #00a1d6,
    hrColor: var(--md-hr-color),
    blockquoteBg: var(--background-e),
    blockquoteBorderColor: var(--themeColor),
    summary: var(--md-summary-bg),
    summaryOpen: #0984e3,
    markBg: var(--themeColor),
    kbdBg: #fafbfc,
    singleLineCoodeBg: var(--color-singlelinecode),
    singleLineCoodeColor: #d83b64,
);

@import '@/assets/style/markdown';
