:root {
    --background-g: rgb(253, 230, 224);
    --background-w: #fff;
    --background-e: #f6f8fa;
    --text-0: #000;
    --text-3: #333;
    --text-4: #444;
    --text-5: #555;
    --text-9: #999;
    --text-10: #d1d5da;
    --text-a: #fff;
    --md-hr-color: #ddd;

    --color-post-title: #333;
}

:root[theme='dark'] {
    --background-g: #333;
    --background-w: #555;
    --background-e: #7c7c7c;
    --text-0: #ccc;
    --text-3: #ccc;
    --text-4: #c0c0c0;
    --text-5: #999;
    --text-9: #7c7c7c;
    --text-10: #7c7c7c;
    --text-a: #000;
    --md-hr-color: #7c7c7c;

    --color-post-title: rgb(240, 240, 240);
}
