/* :root */
:root {
    --background-g: var(--dark-background-g, var(--default-background-g));
    --background-w: var(--dark-background-w, var(--default-background-w));
    --background-e: var(--dark-background-e, var(--default-background-e));
    --text-0: var(--dark-text-0, var(--default-text-0));
    --text-3: var(--dark-text-3, var(--default-text-3));
    --text-4: var(--dark-text-4, var(--default-text-4));
    --text-5: var(--dark-text-5, var(--default-text-5));
    --text-9: var(--dark-text-9, var(--default-text-9));
    --text-10: var(--dark-text-10, var(--default-text-10));
    --text-a: var(--dark-text-a, var(--default-text-a));
    --default-background-g: rgb(253, 230, 224);
    --default-background-w: #fff;
    --default-background-e: #f6f8fa;
    --default-text-0: #000;
    --default-text-3: #333;
    --default-text-4: #444;
    --default-text-5: #555;
    --default-text-9: #999;
    --default-text-10: #d1d5da;
    --default-text-a: #fff;
}


/* 滚动条样式 */
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    display: block;
    border-radius: 10px;
    background-color: var(--themeColor);
    background-image: linear-gradient(45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent);
}

/* home */
#home {
    display: block;
}

/* header */
#header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--background-w);
    height: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#blogTitle {
    display: none;
}

#navigator {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--text-3);
}

#navigator>a {
    position: relative;
    margin-left: 0.2rem;
}

#navList,
#navigator .blogStats {
    display: flex;
    height: 100%;
}

#navigator .blogStats {
    font-size: 0.16rem;
    color: var(--text-9);
}

#custom-github {
    padding: 0 0.293rem;
}

#navList li a {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 700;
    text-shadow: 5px 0 10px var(--themeColor);
}

#navList li a,
#navigator .blogStats span {
    display: flex;
    align-items: center;
    padding: 0 0.293rem;
}

#navList li a:hover {
    background-color: var(--themeColor);
    color: #fff;
    transition: all 0.3s;
}

#navList li .icon {
    margin-right: 5px;
    width: 0.5rem;
}

#mode-change {
    color: var(--themeColor);
    margin-left: 16vw;
}

#mode-change .icon {
    width: 0.8rem;
    cursor: pointer;
}

/* #mode-change .icon {
    animation: changeModeRotate 20s linear infinite;
} */

/* main */
#main {
    padding-top: 1.2rem;
    display: flex;
    justify-content: center;
}

#mainContent {
    width: 50vw;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--background-w);
}

.entrylist .entrylistTitle:not(:first-of-type),
.day .dayTitle:not(:first-of-type) {
    border-top: 1px solid hsla(0, 0%, 59.2%, 0.1);
}

.PostListTitle,
.entrylistTitle,
.dayTitle {
    border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
    padding: 0.267rem;
    color: var(--text-4);
    font-size: 0.3rem;
}

.PostList,
.entrylistPosttitle,
.entrylistPostSummary,
.entrylistItemPostDesc,
.postTitle,
.postCon,
.postDesc {
    padding: 0.1rem 0.267rem;
}

.c_b_p_desc_readmore {
    display: table;
    margin-top: 0.1rem;
    padding: 0.05rem 0.1rem 0.05rem 0.15rem;
    border: 1px solid var(--themeColor);
    color: var(--themeColor);
    border-radius: 3px;
}

.c_b_p_desc_readmore .icon {
    width: 1em;
    height: 1.2em;
    vertical-align: middle;
}

.c_b_p_desc_readmore:hover .icon {
    transform: translateX(0.05rem);
    transition: all 0.2s;
}

.PostList {
    margin-left: 0;
}

.entrylistPosttitle .icon,
.postTitle .icon,
.PostListTitle .icon {
    width: 0.5rem;
    height: 0.5rem;
}

#topics .postDesc {
    padding: 0.1rem 0;
}

.entrylistPosttitle,
.postTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 0.293rem;
    text-shadow: 5px 0px 10px var(--themeColor);
    color: var(--text-3);
}

.entrylistPosttitle:hover,
.postTitle:hover {
    transform: translateX(0.1rem);
    transition: all 0.2s;
}

.entrylistPostSummary,
.c_b_p_desc,
.postCon {
    color: var(--text-5);
}

.postDesc2,
.entrylistItemPostDesc,
.postDesc {
    color: var(--text-9);
}

.postDesc2 {
    margin-top: 0.1rem;
}

#myposts {
    margin-left: 0;
}

/* 常用链接 */
.forFlow>.pager {
    display: none;
}

.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--themeColor);
}

/* 日历 */
#blogCalendar table,
#blogCalendar tbody,
#blogCalendar tr,
#blogCalendar td {
    display: block;
}

#blogCalendar tr:nth-child(1) tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CalNextPrev a,
.CalNextPrev a {
    color: var(--themeColor);
}

.CalNextPrev a:hover,
.CalNextPrev a:hover {
    color: #00a1d6;
}

#blogCalendar tr:nth-child(2) {
    margin: 0.187rem 0 0.1rem;
    padding: 0 0.06rem;
}

#blogCalendar tr:not(:nth-child(1)) {
    display: flex;
    justify-content: space-between;
}

#blogCalendar tr:not(:nth-child(1)) td {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.4rem;
    height: 0.4rem;
}

.CalTodayDay {
    background-color: var(--themeColor);
    color: #fff;
    border-radius: 50%;
    font-size: 0.7em;
}

#blogCalendar u {
    color: #00a1d6;
}

/* 搜索 */
.input_my_zzk {
    border: 1px solid #61aeee;
    background: var(--background-w);
}

input.btn_my_zzk {
    border: none;
    background: var(--themeColor);
    color: #fff;
}

input.btn_my_zzk:hover {
    background: #61aeee;
    transition: background 0.3s;
}

/* 首页 */
.topicListFooter {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0.5rem;
}

#nav_next_page {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 0.05rem 0.2rem;
    border-radius: 2px;
    background-color: #00a1d6;
    color: #fff;
}

#nav_next_page:hover {
    background-color: var(--themeColor);
    transition: background-color 0.2s;
}

.pager a {
    color: #fff;
    background-color: #00a1d6;
    border-color: #00a1d6;
    border-radius: 2px;
}

.pager a:hover {
    background-color: var(--themeColor);
    border-color: var(--themeColor);
    transition: all 0.2s;
}

/* sideBar */
#sideBar {
    max-width: 4.5rem;
    margin-left: 0.5rem;
    overflow: hidden;
}

#sideBar h3 .icon {
    margin-right: 0.1rem;
    width: 1.8em;
    height: 1.8em;
}

#blog-news {
    display: flex;
    align-items: center;
}

#profile_block {
    margin-top: 0;
}

/* 每个块的外层 */
#sidebar_news,
#blog-calendar,
#sidebar_search,
#sidebar_shortcut,
#sidebar_recentposts,
#sidebar_scorerank,
#sidebar_toptags,
#sidebar_postcategory,
#sidebar_postarchive,
#sidebar_recentcomments,
#sidebar_topviewedposts .catListView,
#sidebar_topcommentedposts .catListFeedback,
#topdigg_posts_wrap .catListView,
#catalog {
    background-color: var(--background-w);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    margin-bottom: 0.3rem;
    color: var(--text-3);
}

/* 每个小块的标题 */
#blogCalendar .CalTitle>tbody>tr,
#sideBar .catListTitle {
    font-weight: 700;
    font-size: 1.1em;
    border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
}

/* 每个小块的标题内容和标题padding */
#blogCalendar .CalTitle>tbody>tr,
#sideBar .catListTitle,
#sidebar_news #blog-news,
#blog-calendar,
#sidebar_search_box,
#sidebar_shortcut ul,
#sidebar_recentposts ul,
#sidebar_scorerank ul,
#sidebar_toptags ul,
#sidebar_postcategory ul,
#sidebar_postarchive ul,
#sidebar_recentcomments .RecentCommentBlock,
#TopViewPostsBlock,
#TopFeedbackPostsBlock,
#TopDiggPostsBlock,
#catalog ul {
    padding: 0.187rem 0.267rem;
}

#sidebar_search_box .icon,
#sidebar_shortcut ul li a .icon,
#sidebar_recentposts ul li a .icon,
.icon #sidebar_scorerank ul li a .icon,
#sidebar_toptags ul li a .icon,
#sidebar_postcategory ul li a .icon,
#sidebar_postarchive ul li a .icon,
#sidebar_recentcomments .RecentCommentBlock .icon,
#TopViewPostsBlock .icon,
#TopFeedbackPostsBlock .icon,
#TopDiggPostsBlock .icon,
#catalog ul li a .icon {
    width: 1.2em;
    height: 1.8em;
}

#sideBarMain ul li {
    padding-top: 0.1rem;
}

#sideBarMain ul li:hover {
    transform: translateX(0.15rem);
    transition: all 0.2s;
}

/* 随笔页 */
/* 主要容器 */
#comment_form,
#post_detail {
    padding: 0.4rem;
}

#post_detail .postTitle {
    padding: 0.1rem 0.267rem 0.1rem 0;
    font-size: 0.373rem;
    color: var(--text-3);
}

/* 文章标题icon */
#cnblogs_post_body>h1,
#cnblogs_post_body>h2 {
    display: flex;
    align-items: center;
}

#cnblogs_post_body>h1 .icon,
#cnblogs_post_body>h2 .icon {
    margin-right: 0.1rem;
    width: 1.2em;
    height: 1.2em;
}

/* 文章标题icon end*/

/* 头部进度条 start */
#nprogress .bar {
    background: var(--themeColor) !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--themeColor), 0 0 5px var(--themeColor) !important;
}

/* 头部进度条 end */

/* markdown start*/
mark {
    background-color: #fff200;
}

.cnblogs-markdown pre {
    margin: 0.267rem 0;
}

#cnblogs_post_body pre table {
    overflow-x: unset;
}

#cnblogs_post_body table {
    display: block;
    margin-top: 0.2rem;
    overflow-x: auto;
}

#cnblogs_post_body td,
.cnblogs-post-body th,
.cnblogs-post-body td {
    white-space: pre;
}

#cnblogs_post_body ol {
    padding-left: 30px;
}

#cnblogs_post_body img {
    max-width: 100%;
}

#cnblogs_post_body img,
#cnblogs_post_body ol li {
    margin-top: 10px;
}

#cnblogs_post_body a {
    color: #00a1d6;
}

#cnblogs_post_body p a:hover {
    color: var(--themeColor);
    transition: color 0.2s;
}

#cnblogs_post_body h1 {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--themeColor);
}

#cnblogs_post_body h1 svg {
    margin-right: 5px;
}

#cnblogs_post_body h2 {
    font-size: 20px;
}

#cnblogs_post_body h3 {
    font-size: 16px;
}

#cnblogs_post_body h1 {
    margin: 1rem 0 0.1333rem;
}

#cnblogs_post_body h1:first-of-type {
    margin-top: 0.5rem;
}

#cnblogs_post_body h2,
#cnblogs_post_body h3 {
    margin: 0.3rem 0 0.1333rem;
}

#cnblogs_post_body ul {
    margin-left: 0.4rem;
}

#cnblogs_post_body ul li {
    line-height: 0.5rem;
}

#cnblogs_post_body table,
.cnblogs-post-body table,
#cnblogs_post_body .hljs-ln-code {
    border: none;
}

#cnblogs_post_body .hljs-ln-code {
    padding: 02px 0.0933rem;
}

#cnblogs_post_body blockquote {
    margin-top: 0.2rem;
    padding: 0.1rem 0.1rem 0.1rem 0.3rem;
    background: var(--background-e);
    border: none;
    border-left: 8px solid var(--themeColor);
}

#cnblogs_post_body blockquote p {
    line-height: 1.5;
    font-size: 14px;
}

/* markdown end */

/* 随笔目录 start */
#catalog ul::-webkit-scrollbar-thumb {
    display: none;
}

#catalog:hover ul::-webkit-scrollbar-thumb {
    display: block;
}

#catalog {
    min-height: 1.333rem;
    max-height: 11rem;
    width: 15vw;
    font-size: 14px;
    overflow-y: scroll；;
    overflow-x: hidden;
    word-wrap: nowrap;
    text-overflow: ellipsis;
    background-color: var(--background-w);
    z-index: 3;
}

#catalog ul li {
    margin-top: 0.067rem;
}

#catalog ul>li>a:hover {
    text-decoration: none;
}

#catalog .catalog-active {
    background: var(--themeColor);
    padding: 0.1rem 0.1rem;
    border-radius: 3px;
    transition: background 0.4s;
}

#catalog .catalog-active a {
    color: var(--text-a);
}

.catalog-sticky {
    position: fixed;
    top: 1.2rem;
    visibility: visible;
    transition: top 0.2s;
}

.catalog-sticky-left {
    position: fixed;
    top: 1.2rem;
    left: 0.2rem;
    transition: top 0.2s;
}

.catalog-sticky-right {
    position: fixed;
    top: 1.2rem;
    right: 0.2rem;
    transition: top 0.2s;
}

.catalog-scroll-up {
    top: 0.2rem;
}

.catalog-scroll-down {
    top: 1.2rem;
}

.h1-list {
    font-weight: 700;
}

.h1-list~.h2-list {
    margin-left: 0.7em;
}

.h2-list~.h3-list {
    margin-left: 1.4em;
}

/* 随笔目录结束 */

/* 文章末尾按钮 start */
#blog_post_info_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blog_post_info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0.8rem 0;
}

#BlogPostCategory,
#EntryTag,
#post_next_prev {
    margin-bottom: 0.1rem;
    font-size: 0.293rem;
}

#post_next_prev a:nth-child(3n + 1) {
    display: none;
}

#BlogPostCategory {
    order: 1;
}

#EntryTag {
    order: 2;
}

#post_next_prev {
    order: 3;
}

#blog_post_info {
    order: 4;
}

.postDesc {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    text-transform: uppercase;
}

#post-date {
    margin-left: 0.1rem;
}

.postDesc a:last-child {
    margin-left: 0.15rem;
}

#green_channel {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    width: auto;
    border: none;
}

#green_channel a,
#green_channel span {
    margin-right: 0.35rem;
    background: none;
    font-size: 0.267rem;
    border-radius: 2px;
    box-shadow: none;
}

#green_channel a:nth-child(1),
#green_channel a:nth-child(2),
#green_channel a:nth-child(3) {
    padding: 0.12rem 0.35rem;
}

#green_channel span {
    color: #fff !important;
    background-color: #ffb3cc;
}

#author_profile {
    display: flex;
    align-items: center;
    margin: 0 0.2rem 0 0;
    padding: 0;
    width: auto;
    order: -1;
}

#author_profile_follow {
    display: none;
}

#author_profile_detail {
    display: none;
}

.author_avatar {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    transform: scale(0.6);
}

/* 文章末尾按钮 end */

/* 评论列表 start */
.commentbox_title_left {
    display: none;
}

.feedback_area_title {
    padding: 0.14rem 0.2rem;
    border-bottom: 1px solid var(--text-10);
    background-color: var(--background-e);
    border-radius: 2px 2px 0 0;
    font-size: 0.2rem;
    font-weight: 700;
    color: var(--text-3);
}

.feedbackListSubtitle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
    font-size: 0.1rem;
    color: #999;
}

.feedbackListSubtitle .feedbackManage {
    order: 3;
}

.comment_actions {
    border-bottom: 1px solid var(--themeColor);
}

.feedbackListSubtitle .comment_vote {
    order: 4;
}

.comment_vote a {
    padding-left: 0.1rem;
}

.feedbackItem {
    padding: 0.333rem 0.2rem;
}

#blog-comments-placeholder br,
#comment_pager_top {
    display: none;
}

.forFlow #blog-comments-placeholder {
    border: 1px solid var(--text-10);
    border-radius: 3px;
    margin: 0 0.4rem;
}

.forFlow #blog-comments-placeholder br {
    display: none;
}

#post-comments-list {
    margin-top: 0.4rem;
    width: 100%;
}

.custom-comment-avatar {
    align-self: baseline;
}

.avatar {
    border: 1px solid #eee;
    border-radius: 50%;
    transform: scale(0.7);
}

.feedbackCon {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.feedbackCon .blog_comment_body {
    position: relative;
    margin-left: 10px;
    margin-top: 0.1rem;
    padding: 0 0.2rem;
    background-color: var(--themeColor);
    border-radius: 3px;
    color: #333;
    font-size: 0.25rem;
    max-width: 10rem;
    line-height: 1.6;
    padding: 0.1rem 0.2rem;
}

.blog_comment_body:before {
    content: '';
    display: block;
    position: absolute;
    left: -0.46rem;
    top: 0.1rem;
    width: 0.227rem;
    height: 0;
    border-right: solid 0.24rem var(--themeColor);
    border-top: solid 0.06rem rgba(0, 0, 0, 0);
    border-bottom: solid 0.133rem rgba(0, 0, 0, 0);
}

.custom-comments-author {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.custom-comments-author .louzhu {
    color: var(--themeColor);
}

.custom-comments-author .blog_comment_body {
    background-color: #61aeee;
}

.custom-comments-author img {
    margin-left: 0.2rem;
}

.custom-comments-author .blog_comment_body::before {
    display: none;
}

.custom-comments-author .blog_comment_body::after {
    content: '';
    display: block;
    position: absolute;
    right: -0.46rem;
    top: 0.1rem;
    width: 0.227rem;
    height: 0;
    border-left: solid 0.24rem #61aeee;
    border-top: solid 0.06rem rgba(0, 0, 0, 0);
    border-bottom: solid 0.133rem rgba(0, 0, 0, 0);
}

.custom-comments-author .feedbackManage {
    order: 0;
}

.custom-comments-author .layer {
    margin-left: 0.1rem;
    order: 3 !important;
}

.custom-comments-author .comment_vote {
    order: -3;
}

.custom-comments-author .comment_date {
    order: -1 !important;
}

.custom-comments-author .feedbackManage {
    order: -2 !important;
}

.custom-comments-author .feedbackCon {
    flex-direction: row-reverse;
}

.feedbackCon .blog_comment_body img {
    width: 0.5rem;
    height: 0.5rem;
    vertical-align: middle;
}

.blog_comment_body>a:first-of-type,
.blog_comment_body p a:nth-child(1) {
    color: #fff;
}

.feedbackListSubtitle>a:last-of-type {
    color: #00a1d6;
    order: 1;
}

.feedbackManage {
    margin-right: 0.2rem;
    order: 3;
}

.feedbackListSubtitle>a:last-of-type:hover {
    color: var(--themeColor);
    transition: all 0.2s;
}

.forFlow #blog-comments-placeholder .layer {
    padding: 0 0.1rem;
    color: var(--text-a);
    background-color: var(--themeColor);
    border-radius: 3px;
    margin-right: 0.1rem;
    order: 0;
}

.forFlow #blog-comments-placeholder .comment_date {
    margin: 0 0.1rem;
    order: 2;
}

.feedbackCon br {
    display: none;
}

.comment_vote {
    font-size: 0.1rem;
    color: #999;
}

/* 评论列表 end */

/* 写评论 start */

#comment_form_container>p:nth-of-type(3),
#comment_form_container>a:first-of-type,
#divCommentShow,
#ad_text_under_commentbox,
#comment_nav,
#commentbox_opt>a,
#tip_comment2 {
    display: none;
}

#comment_form_container>p:last-of-type {
    color: var(--text-9);
}

#comment_form_container {
    position: relative;
}

#commentform_title {
    padding: 10px 0;
    border-bottom: 2px dotted var(--themeColor);
    background: none;
    font-weight: 700;
}

#comment_form_container .comment_textarea,
#tbCommentBody {
    background: none;
}

#tbCommentBody {
    height: 1.5rem;
    min-height: 1.5rem;
    color: var(--text-5);
}

.comment_textarea {
    width: 100%;
    border-color: var(--text-9);
}

.commentbox_title {
    border-bottom-color: var(--text-9);
}

.comment_textarea:hover .commentbox_title,
.comment_textarea:hover {
    border-color: var(--themeColor);
    transition: border-color 0.2s;
}

#btn_comment_submit {
    position: absolute;
    bottom: -0.2rem;
    right: 0;
    width: 1.4rem;
    height: 0.6rem;
    color: var(--text-a);
    border-radius: 4px;
    border: none;
    background-color: #00a1d6;
    user-select: none;
    outline: none;
    cursor: pointer;
    font-size: 0.187rem;
}

#btn_comment_submit:hover {
    background-color: var(--themeColor);
    transition: background-color 0.3s;
}

/* 写评论 end */

/* 广告 */

#ad_t2 {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;
    color: #fff;
}

#ad_t2 a {
    margin-right: 0;
    margin-top: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

#ad_t2 a:nth-child(1) {
    background-color: var(--themeColor)
}

#ad_t2 a:nth-child(3) {
    background-color: #61aeee;
}

#ad_t2 br {
    display: none;
}

#under_post_kb,
#under_post_news,
#cnblogs_c1,
#cnblogs_c2 {
    display: none;
}

/* 历史上的今天 */
#HistoryToday {
    display: none;
}

/* 随笔页 end */

/* footer start */
#footer {
    display: none;
}

body footer {
    margin: 1rem 0 0;
    padding: 0.6rem 0;
    text-align: center;
    color: var(--text-3);
    /* border-top: var(--themeColor) 1px solid; */
}

footer #links {
    display: flex;
    justify-content: center;
}

#links li:hover {
    text-shadow: 0 0 2px #eee;
    color: var(--themeColor);
    transition: all 0.25s;
}

#links>li:not(:first-child) {
    margin-left: 0.4rem;
}

#copyright {
    display: flex;
    flex-direction: column;
    margin-top: 0.2667rem;
}

#copyright span {
    margin-top: 0.1333rem;
}

#copyright span:first-child {
    /* font-weight: 700; */
}

#copyright a {
    /* font-weight: 700; */
    /* color: var(--themeColor); */
}

/* footer end */



/* 动态类 */
.icon {
    width: 1rem;
    height: 1rem;
    vertical-align: -0.15rem;
    fill: currentColor;
    overflow: hidden;
    color: inherit;
}

.disable-hover {
    pointer-events: none;
}

.mode-change,
.mode-change #header,
.mode-change #mainContent,
.mode-change #cnblogs_post_body blockquote,
.mode-change #post-signature,
.mode-change #sidebar_news,
.mode-change #blog-calendar,
.mode-change #sidebar_search,
.mode-change #sidebar_shortcut,
.mode-change #sidebar_recentposts,
.mode-change #sidebar_toptags,
.mode-change #sidebar_scorerank,
.mode-change #sidebar_postcategory,
.mode-change #sidebar_postarchive,
.mode-change #sidebar_recentcomments,
.mode-change #sidebar_topviewedposts,
.mode-change #sidebar_topcommentedposts,
.mode-change #sidebar_topdiggedposts,
.mode-change #catalog,
.mode-change .input_my_zzk {
    transition: all 0.3s cubic-bezier(0.76, 0.34, 1, 1) 0s;
}

.header-hide {
    transform: translateY(-100%);
    transition: all 0.2s;
}

/* 非移动端  */
@media screen and (min-width: 767px) {

    #post_detail,
    .forFlow #blog-comments-placeholder,
    #comment_form {
        font-size: 16px !important;
    }
}

/* 移动端 */
@media screen and (max-width: 767px) {
    ::-webkit-scrollbar {
        display: none;
    }

    /* nav */
    #custom-mobile-nav .icon {
        width: 0.5rem;
        margin-left: 5px;
        transform: rotate(90deg);
    }


    /* 头部导航 */
    #blog_nav_rss {
        display: none !important;
    }

    #navigator .blogStats {
        display: none;
    }


    #navList {
        position: absolute;
        top: 100%;
        display: flex;
        /* 当显示时会变成block 不会与flex冲突 */
        display: none;
        flex-direction: column;
        align-items: center;
        height: auto;
        background-color: #fff;
        box-shadow: 1px 1px 5px rgb(233, 227, 227);
    }

    #navList li {
        display: block;
        background-color: #fff;
        border-radius: 3px;
        width: 100px;
    }



    /* 覆盖博客园bundle start */
    .postBody {
        padding: 0;
    }

    img {
        max-width: 100% !important;
    }

    div.commentform textarea {
        width: 100%;
        height: 2.667rem;
    }

    /* 覆盖博客园bundle end */
    #mode-change {
        margin-left: 7vw !important;
    }

    .postBody ul li {
        padding-top: 0.133rem;
    }



    #mainContent {
        width: 95%;
    }

    #green_channel a:nth-child(1),
    #green_channel a:nth-child(2),
    #green_channel a:nth-child(3) {
        padding: 0.1rem 0.2rem;
    }

    #green_channel #green_channel_weibo,
    #green_channel #green_channel_wechat {
        padding: 0;
    }

    #div_digg {
        display: none;
    }

    #author_profile {
        display: none;
    }

    .entrylistPosttitle,
    .postTitle {
        font-size: 0.5rem;
    }

    /* 首页 start */
    .postDesc a:last-child {
        display: none;
    }

    /* 首页 end */

    /* 随笔页 start */
    #custom-post-btn {
        display: none;
    }

    /* 写评论 start */
    .commentbox_title {
        margin-bottom: 0.1rem;
    }

    #tbCommentBody {
        width: 75%;
    }

    #btn_comment_submit {
        bottom: -0.1rem;
        padding: 0 0.2rem;
        width: auto;
    }

    /* 写评论 end */

    /* 评论列表 start */
    .feedbackCon .blog_comment_body {
        max-width: 6rem;
    }

    /* 评论图片 */
    .forFlow #blog-comments-placeholder .feedbackListSubtitle {
        font-size: 12px;
    }

    .forFlow #blog-comments-placeholder .comment_date {
        /* width: 1.8rem; */
        overflow: hidden;
        white-space: nowrap;
    }

    .forFlow #blog-comments-placeholder.comment_vote {
        display: none;
    }

    .forFlow #blog-comments-placeholder .feedbackListSubtitle>a:last-of-type {
        /* width: 2.2rem; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* 评论列表 end */
    /* ... 底部 阅读（x） 评论（x） 编辑 start */
    #topics .postDesc {
        display: none;
    }

    /* ... 底部 阅读（x） 评论（x） 编辑 end */
    /* 底部广告 start */
    #ad_t2 {
        font-size: 0.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* 底部广告 end */
    /* 随笔页 end*/
    /* 返回顶部按钮 start */
    #back-to-top {
        bottom: 0.4rem;
        right: 0.6rem;
    }

    /* 返回顶部按钮 end */

    /* footer 自定义链接 start */
    #links {
        width: 90vw;
        overflow-x: scroll;
        margin: 0 auto;
        white-space: nowrap;
    }

    /* footer 自定义链接 start */
    /* 菜单按钮 start */
    #side-btn-wrap {
        visibility: visible;
        position: fixed;
        bottom: 0.4rem;
        right: 0.5rem;
        padding: 0.35rem;
        background: #fff;
        box-shadow: 1px 1px 8px var(--themeColor);
        border-radius: 50%;
        z-index: 20;
    }

    #side-btn {
        position: relative;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    #side-btn-burger {
        position: absolute;
        background: var(--themeColor);
        width: 100%;
        height: 3px;
        top: 50%;
        right: 0;
        margin-top: -1px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }

    #side-btn-burger:after,
    #side-btn-burger:before {
        border-radius: 2px;
        background: var(--themeColor);
        position: absolute;
        width: 100%;
        height: 3px;
        content: '';
        display: block;
        transition: all 0.2s ease-in-out;
    }

    #side-btn-burger:before {
        top: 10px;
    }

    #side-btn-burger:after {
        bottom: 10px;
    }

    #side-btn.side-btn-active #side-btn-burger {
        background: 0 0;
    }

    #side-btn.side-btn-active #side-btn-burger:before {
        transition: all 0.2s;
        transform: rotate(45deg);
        top: 0;
    }

    #side-btn.side-btn-active #side-btn-burger:after,
    #side-btn.side-btn-active #side-btn-burger:before {
        transition: all 0.2;
    }

    #side-btn.side-btn-active #side-btn-burger:after {
        transition: all 0.3s;
        transform: rotate(-45deg);
        bottom: 0;
    }

    #side-btn.side-btn-active #side-btn-burger:after,
    #side-btn.side-btn-active #side-btn-burger:before {
        transition: all 0.2s;
    }

    /* 菜单按钮 end */
    /* 菜单 start */
    #sideBar {
        visibility: hidden;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        max-width: 100vw;
        background-color: var(--background-w);
        overflow-y: scroll;
        clip-path: circle(30px at calc(100%) 100%);
        z-index: 12;
    }

    #sidebar_news {
        margin-bottom: 0;
        border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
    }

    #blog-calendar,
    #catalog,
    #sidebar_news,
    #sidebar_postarchive,
    #sidebar_postcategory,
    #sidebar_recentcomments,
    #sidebar_recentposts,
    #sidebar_scorerank,
    #sidebar_search,
    #sidebar_shortcut,
    #sidebar_topcommentedposts .catListFeedback,
    #sidebar_toptags,
    #sidebar_topviewedposts .catListView,
    #topdigg_posts_wrap .catListView {
        margin-bottom: 0;
    }

    #blogCalendar tr:not(:nth-child(1)) td {
        width: 0.8rem;
        height: 0.8rem;
    }

    /* 菜单 end */
}

/* 移动端 end */

/* 动画 */

.fade-in {
    animation: fadeIn 1s ease-in 0s;
}

.fade-in-left {
    animation: fadeInLeft 1s ease-in 0s;
}

.fade-in-down {
    animation: fadeInDown 1s ease-in 0s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes changeModeRotate {
    to {
        transform: rotate(360deg);
    }
}
